%tr{:id => "condition_#{condition.id}"}
  %td= link_to condition.id, admin_condition_path(condition)
  %td= condition.name
  %td=t time_ago_in_words(condition.created_at)
  %td
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_condition_path(condition),remote: true, :class => 'btn btn-default btn-xs'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_condition_path(condition), :method => :delete,remote: true, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

