
$('#dialog h3').html("<i class=' glyphicon glyphicon-pencil'></i> Edit Customer");
$('.modal-body').html('<%= j render("form") %>');
$('#dialog').modal("show");
$('#dialog').on('shown.bs.modal', function () {
  $('.first_input').focus()
})