.row
  .col-sm-4.col-sm-offset-4
    %h1
      Edit #{resource_name.to_s.humanize}
    %hr/
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email
        %br/
        = f.email_field :email, class: 'form-control'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
      .form-group
        = f.label :password
        %i= t(".leave_blank_if_you_don_t_want_to_change_it")
        %br/
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      .form-group
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      .form-group
        = f.label :current_password
        %i=t(".we_need_your_current_password_to_confirm_your_changes")
        %br/
        = f.password_field :current_password, autocomplete: "off", class: 'form-control'
      .form-group
        = f.submit t(".update"), class: 'btn btn-lg btn-block btn-primary'
    %hr/
    %h2=t(".cancel_my_account")
    %p
      t(".unhappy") #{button_to t(".cancel_my_account"), registration_path(resource_name), class: "btn btn-danger", data: { confirm: t(".are_you_sure") }, method: :delete}
    = link_to t("devise.shared.links.back"), :back
    %hr/
