.be-wrapper.be-login.be-signup
  .be-content
    .main-content.container-fluid
      .splash-container.forgot-password
        .panel.panel-default.panel-border-color.panel-border-color-primary
          .panel-heading
            %img.logo-img{:alt => "logo", :height => "27", :src => "#{app.avatar}", :width => "102"}/
            %span.splash-description= t 'devise.registrations.new.sign_up'
          .panel-body
            = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
              = devise_error_messages!
              .form-group
                = f.email_field :email, autofocus: false, placeholder: "#{t 'activerecord.attributes.user.email'}", class: 'form-control',:required => "", :type => "email"

              .form-group.row.signup-password
                .col-xs-12
                  - if @minimum_password_length
                    %em
                      (#{@minimum_password_length} characters minimum)
                    %br/
                .col-xs-6
                  = f.password_field :password, autocomplete: "off", placeholder: "#{t 'activerecord.attributes.user.password'}", class: 'form-control'
                .col-xs-6
                  = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "#{t 'activerecord.attributes.user.password_confirmation'}"

              .form-group.xs-pt-10
                .be-checkbox
                  %label{:for => "remember"}
                    By creating an account, you agree the
                    = succeed "." do
                      %a{:href => "#"} terms and conditions

              .form-group.xs-pt-5
                = f.submit t(".sign_up"), class: 'btn btn-block btn-primary btn-xl'

        .splash-footer
          = render "devise/shared/links"
          © #{Time.now.year} #{app.name}



