.row
  = simple_form_for [:admin, @offer],  remote: true, :html => { :class => 'form-group' } do |f|
    .col-sm-12
      .col-sm-6
        = f.input :serialnumber
        = f.error_span :serialnumber
        = f.input :machinenumber
        = f.error_span :machinenumber
        = f.input :agedate
        = f.error_span :agedate
        = f.input :condition_id
        = f.error_span :condition_id
        = f.input :incoterm_id
        = f.error_span :incoterm_id
        -#= f.input :images
        -#= f.error_span :images
      .col-sm-6
        = f.input :description
        = f.error_span :description
        = f.input :avability
        = f.error_span :avability
        = f.input :price_cents
        = f.error_span :price_cents
        = f.input :modell_id
        = f.error_span :modell_id
        = f.input :enabled
        = f.error_span :enabled

    .col-sm-6
      = f.button :submit, :class => 'btn-primary'
    .col-sm-6
  = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_offers_path, :class => 'btn btn-default'
