- model_class = Offer

- title t '.title', :default => model_class.model_name.human.pluralize.titleize
- breadcrumb :offers
- headercolor 'green'
- header t '.title', :default => model_class.model_name.human.pluralize.titleize
- languages_admin


.row
  .col-sm-12
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark=model_class.model_name.human.pluralize.titleize
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          = form_tag(admin_offers_path, :method=> "get") do
            = text_field_tag :search, params[:search]
            = submit_tag "Search"

          .form-wrap
            .table-responsive
              %table.table.table-striped
                %thead
                  %tr
                    %th= model_class.human_attribute_name(:id)
                    %th= model_class.human_attribute_name(:serialnumber)
                    %th= model_class.human_attribute_name(:machinenumber)
                    %th= model_class.human_attribute_name(:agedate)
                    %th= model_class.human_attribute_name(:condition_id)
                    %th= model_class.human_attribute_name(:incoterm_id)
                    %th= model_class.human_attribute_name(:images)
                    %th= model_class.human_attribute_name(:description)
                    %th= model_class.human_attribute_name(:avability)
                    %th= model_class.human_attribute_name(:price_cents)
                    %th= model_class.human_attribute_name(:modell_id)
                    %th= model_class.human_attribute_name(:enabled)
                    %th= model_class.human_attribute_name(:created_at)
                    %th=t '.actions', :default => t("helpers.actions")
                %tbody{id: 'offers'}
                  = render @offers
              = link_to t('.new', :default => t("helpers.links.new")), new_admin_offer_path, remote: true, :class => 'btn btn-primary'
=render 'layouts/dialog'
