- model_class = Offer

- title t '.title', :default => [ :'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- header t '.title', :default => [ :'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- headercolor 'green'
- breadcrumb @offer

.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:serialnumber) + ':'
  %br
  = @offer.serialnumber
%p
  %strong= model_class.human_attribute_name(:machinenumber) + ':'
  %br
  = @offer.machinenumber
%p
  %strong= model_class.human_attribute_name(:agedate) + ':'
  %br
  = @offer.agedate
%p
  %strong= model_class.human_attribute_name(:condition_id) + ':'
  %br
  = @offer.condition_id
%p
  %strong= model_class.human_attribute_name(:incoterm_id) + ':'
  %br
  = @offer.incoterm_id

%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @offer.description
%p
  %strong= model_class.human_attribute_name(:avability) + ':'
  %br
  = @offer.avability
%p
  %strong= model_class.human_attribute_name(:price_cents) + ':'
  %br
  = @offer.price_cents
%p
  %strong= model_class.human_attribute_name(:modell_id) + ':'
  %br
  = @offer.modell_id
%p
  %strong= model_class.human_attribute_name(:enabled) + ':'
  %br
  = @offer.enabled



= link_to t('.back', :default => t("helpers.links.back")), admin_offers_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_offer_path(@offer), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), admin_offer_path(@offer), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
