- title 'Dashboard'
- header 'Dashboard'
- headercolor 'yellow'
- breadcrumb :admin
- languages_admin

.row
  .col-lg-3.col-md-4.col-sm-12
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark monthly sales
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          .sm-graph-box
            .row
              .col-xs-6
                #sparkline_1
              .col-xs-6
                .counter-wrap.text-right
                  %span.counter-cap
                    %i.fa.fa-level-up.txt-success
                  %span.counter 23
                  %span %
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark revenue
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          .sm-graph-box
            .row
              .col-xs-6
                #sparkline_2
              .col-xs-6
                .counter-wrap.text-right
                  %span.counter-cap
                    %i.fa.fa-level-up.txt-success
                  %span.counter 12
                  %span m
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark total sales
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          .sm-graph-box
            .row
              .col-xs-6
                #sparkline_6
              .col-xs-6
                .counter-wrap.text-right
                  %span.counter-cap
                    %i.fa.fa-level-down.txt-danger
                  %span.counter 1122
  .col-lg-9.col-md-8.col-sm-12
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark
            %i.icon-share.mr-10>
            Visits  revenue
        .clearfix
      .panel-wrapper.collapse.in
        #morris_extra_line_chart.morris-chart{:style => "height:442px;"}
/ /Row
.row
  / Table Hover
  .col-sm-8
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark sales
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          .table-wrap
            .table-responsive
              %table.table.table-hover.mb-0
                %thead
                  %tr
                    %th #
                    %th Products
                    %th Popularity
                    %th Sales
                %tbody
                  %tr
                    %td 1
                    %td Golden Chair
                    %td
                      %span.peity-bar{"data-height" => "40", "data-peity" => "{ \"fill\": [\"#3cb878\"], \"stroke\":[\"#3cb878\"]}", "data-width" => "90"} 0,-3,-2,-4,5,-4,3,-2,5,-1
                    %td
                      %span.text-danger.text-semibold
                        %i.fa.fa-level-down{"aria-hidden" => "true"}
                        28.76%
                  %tr
                    %td 2
                    %td Pink Chair
                    %td
                      %span.peity-bar{"data-height" => "40", "data-peity" => "{ \"fill\": [\"#3cb878\"], \"stroke\":[\"#3cb878\"]}", "data-width" => "90"} 0,-1,1,-2,-3,1,-2,-3,1,-2
                    %td
                      %span.text-warning.text-semibold
                        %i.fa.fa-level-down{"aria-hidden" => "true"}
                        8.55%
                  %tr
                    %td 3
                    %td Til Chair
                    %td
                      %span.peity-bar{"data-height" => "40", "data-peity" => "{ \"fill\": [\"#3cb878\"], \"stroke\":[\"#3cb878\"]}", "data-width" => "90"} 0,3,6,1,2,4,6,3,2,1
                    %td
                      %span.text-success.text-semibold
                        %i.fa.fa-level-up{"aria-hidden" => "true"}
                        58.56%
                  %tr
                    %td 4
                    %td Red Chair
                    %td
                      %span.peity-bar{"data-height" => "40", "data-peity" => "{ \"fill\": [\"#3cb878\"], \"stroke\":[\"#3cb878\"]}", "data-width" => "90"} 0,3,6,4,5,4,7,3,4,2
                    %td
                      %span.text-info.text-semibold
                        %i.fa.fa-level-up{"aria-hidden" => "true"}
                        35.76%
  / /Table Hover
  .col-sm-4
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark
            %i.icon-support.mr-10>
            order breakdown
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          #morris_donut_chart.morris-chart{:style => "height:360px;"}
/ Row
.row
  .col-sm-12
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark Product orders
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          .table-wrap
            .table-responsive
              %table#myTable.table.display.responsive.product-overview.mb-30
                %thead
                  %tr
                    %th Name
                    %th Order ID
                    %th Photo
                    %th Product
                    %th Quantity
                    %th Date
                    %th Status
                    %th Actions
                %tbody
                  %tr
                    %td Jens Brincker
                    %td #85457898
                    %td
                      =image_tag('chair2.jpg', :width => '80')
                      %td Square Chair
                      %td 20
                      %td 10-10-2016
                      %td
                        %span.label.label-success.font-weight-100 Paid
                      %td
                        %a.text-inverse.p-r-10{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Edit"}
                          %i.fa.fa-check
                        %a.text-inverse{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Delete"}
                          %i.fa.fa-trash
                    %tr
                      %td Mark Hay
                      %td #85457897
                      %td
                        =image_tag('chair2.jpg', :width => '80')
                        %td Semi Circle Chair
                        %td 15
                        %td 09-10-2016
                        %td
                          %span.label.label-warning.font-weight-100 Pending
                        %td
                          %a.text-inverse.p-r-10{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Edit"}
                            %i.fa.fa-check
                          %a.text-inverse{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Delete"}
                            %i.fa.fa-trash
                      %tr
                        %td Anthony Davie
                        %td #85457896
                        %td
                          %img{:alt => "apple_watch", :src => "dist/img/chair3.jpg", :width => "80"}
                          %td Rounded Chair
                          %td 10
                          %td 08-10-2016
                          %td
                            %span.label.label-success.font-weight-100 Paid
                          %td
                            %a.text-inverse.p-r-10{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Edit"}
                              %i.fa.fa-check
                            %a.text-inverse{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Delete"}
                              %i.fa.fa-trash
                        %tr
                          %td David Perry
                          %td #85457895
                          %td
                            =image_tag('chair2.jpg', :width => '80')
                            %td Wooden chair
                            %td 15
                            %td 02-10-2016
                            %td
                              %span.label.label-default.font-weight-100 Failed
                            %td
                              %a.text-inverse.p-r-10{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Edit"}
                                %i.fa.fa-check
                              %a.text-inverse{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Delete"}
                                %i.fa.fa-trash
                          %tr
                            %td Anthony Davie
                            %td #85457894
                            %td
                              =image_tag('chair2.jpg', :width => '80')
                              %td Rounded Chair
                              %td 20
                              %td 08-10-2016
                              %td
                                %span.label.label-success.font-weight-100 Paid
                              %td
                                %a.text-inverse.p-r-10{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Edit"}
                                  %i.fa.fa-check
                                %a.text-inverse{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Delete"}
                                  %i.fa.fa-trash
                            %tr
                              %td Alan Gilchrist
                              %td #85457893
                              %td
                                =image_tag('chair2.jpg', :width => '80')
                                %td Wooden Chair
                                %td 24
                                %td 06-10-2016
                                %td
                                  %span.label.label-warning.font-weight-100 Pending
                                %td
                                  %a.text-inverse.p-r-10{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Edit"}
                                    %i.fa.fa-check
                                  %a.text-inverse{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Delete"}
                                    %i.fa.fa-trash
                              %tr
                                %td Sue Woodger
                                %td #85457892
                                %td
                                  =image_tag('chair2.jpg', :width => '80')
                                  %td Square Chair
                                  %td 30
                                  %td 05-10-2016
                                  %td
                                    %span.label.label-success.font-weight-100 Paid
                                  %td
                                    %a.text-inverse.p-r-10{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Edit"}
                                      %i.fa.fa-check
                                    %a.text-inverse{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Delete"}
                                      %i.fa.fa-trash
                                %tr
                                  %td Barry Croucher
                                  %td #85457891
                                  %td
                                    =image_tag('chair2.jpg', :width => '80')
                                    %td Semi Circle Chair
                                    %td 28
                                    %td 01-10-2016
                                    %td
                                      %span.label.label-default.font-weight-100 Failed
                                    %td
                                      %a.text-inverse.p-r-10{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Edit"}
                                        %i.fa.fa-check
                                      %a.text-inverse{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Delete"}
                                        %i.fa.fa-trash
                / /Row
                / Row
                .row
                  .col-sm-3
                    .panel.panel-default.card-view
                      .panel-heading
                        .pull-left
                          %h6.panel-title.txt-dark Popularity
                        .clearfix
                      .panel-wrapper.collapse.in
                        .panel-body
                          .lg-progress-box
                            %i.icon-badge.mb-20.block
                            %span.font-14.head-font.txt-dark
                              People's Choice Product
                              %span.pull-right 45%
                            .progress.mt-10
                              .progress-bar.progress-bar-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "85", :role => "progressbar", :style => "width: 45%"}
                                %span.sr-only 45% Complete (success)
                  .col-sm-9
                    .panel.panel-default.card-view
                      .panel-heading
                        .pull-left
                          %h6.panel-title.txt-dark review box
                        .clearfix
                      .panel-wrapper.collapse.in
                        .panel-body
                          .streamline.review-box
                            .sl-item
                              .sl-content
                                %a.inline-block.capitalize-font.mb-5.mr-5{:href => "javascript:void(0)"} Barry Croucher
                                %span.inline-block.font-12.mb-5 12/10/16
                                .per-rating.inline-block.pull-right
                                  %a.fa.fa-star{:href => "javascript:void(0);"}
                                  %a.fa.fa-star{:href => "javascript:void(0);"}
                                  %a.fa.fa-star{:href => "javascript:void(0);"}
                                  %a.fa.fa-star{:href => "javascript:void(0);"}
                                  %a.fa.fa-star-o{:href => "javascript:void(0);"}
                                .clearfix
                                %p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
                            %hr/
                            .sl-item
                              .sl-content
                                %a.inline-block.capitalize-font.mb-5.mr-5{:href => "javascript:void(0)"} Anthony Davie
                                %span.inline-block.font-12.mb-5 12/10/16
                                .per-rating.inline-block.pull-right
                                  %a.fa.fa-star{:href => "javascript:void(0);"}
                                  %a.fa.fa-star{:href => "javascript:void(0);"}
                                  %a.fa.fa-star{:href => "javascript:void(0);"}
                                  %a.fa.fa-star{:href => "javascript:void(0);"}
                                  %a.fa.fa-star-o{:href => "javascript:void(0);"}
                                .clearfix
                                %p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit

