- model_class = Profile
-#TODO CHANGE PROFILE
- title t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- header t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- headercolor 'green'
-# breadcrumb @profile
-# languages_panel @profile

.main-content.container-fluid
  .row
    .col-sm-12
      .panel.panel-default.card-view
        .panel-wrapper.collapse.in
          .panel-body
            .table-wrap
              .table-responsive
                #myTable_wrapper.dataTables_wrapper.no-footer
                  %table#myTable.table.display.responsive.product-overview.mb-30.dataTable.no-footer{"aria-describedby" => "myTable_info", :role => "grid"}
                    %thead
                      %tr{:role => "row"}
                        %th.sorting_asc{"aria-controls" => "myTable", "aria-label" => "Name: activate to sort column descending", "aria-sort" => "ascending", :colspan => "1", :rowspan => "1", :style => "width: 202px;", :tabindex => "0"} Name
                        %th.sorting{"aria-controls" => "myTable", "aria-label" => "Order ID: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 156px;", :tabindex => "0"} Order ID
                        %th.sorting{"aria-controls" => "myTable", "aria-label" => "Photo: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 174px;", :tabindex => "0"} Photo
                        %th.sorting{"aria-controls" => "myTable", "aria-label" => "Product: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 227px;", :tabindex => "0"} Product
                        %th.sorting{"aria-controls" => "myTable", "aria-label" => "Quantity: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 141px;", :tabindex => "0"} Quantity
                        %th.sorting{"aria-controls" => "myTable", "aria-label" => "Date: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 159px;", :tabindex => "0"} Date
                        %th.sorting{"aria-controls" => "myTable", "aria-label" => "Status: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 138px;", :tabindex => "0"} Status
                        %th.sorting{"aria-controls" => "myTable", "aria-label" => "Actions: activate to sort column ascending", :colspan => "1", :rowspan => "1", :style => "width: 123px;", :tabindex => "0"} Actions
                    %tbody
                      %tr.odd{:role => "row"}
                        %td.sorting_1 Alan Gilchrist
                        %td #85457893
                        %td
                          %img{:alt => "iPhone", :src => "dist/img/chair2.jpg", :width => "80"}/
                        %td Wooden Chair
                        %td 24
                        %td 06-10-2016
                        %td
                          %span.label.label-warning.font-weight-100 Pending
                        %td
                          %a.text-inverse.p-r-10{"data-original-title" => "Edit", "data-toggle" => "tooltip", :href => "javascript:void(0)", :title => ""}
                            %i.fa.fa-check
                          %a.text-inverse{"data-original-title" => "Delete", "data-toggle" => "tooltip", :href => "javascript:void(0)", :title => ""}
                            %i.fa.fa-trash
                      %tr.even{:role => "row"}
                        %td.sorting_1 Anthony Davie
                        %td #85457896
                        %td
                          %img{:alt => "apple_watch", :src => "dist/img/chair3.jpg", :width => "80"}/
                        %td Rounded Chair
                        %td 10
                        %td 08-10-2016
                        %td
                          %span.label.label-success.font-weight-100 Paid
                        %td
                          %a.text-inverse.p-r-10{"data-original-title" => "Edit", "data-toggle" => "tooltip", :href => "javascript:void(0)", :title => ""}
                            %i.fa.fa-check
                          %a.text-inverse{"data-original-title" => "Delete", "data-toggle" => "tooltip", :href => "javascript:void(0)", :title => ""}
                            %i.fa.fa-trash
                      %tr.odd{:role => "row"}
                        %td.sorting_1 Anthony Davie
                        %td #85457894
                        %td
                          %img{:alt => "iMac", :src => "dist/img/chair.jpg", :width => "80"}/
                        %td Rounded Chair
                        %td 20
                        %td 08-10-2016
                        %td
                          %span.label.label-success.font-weight-100 Paid
                        %td
                          %a.text-inverse.p-r-10{"data-original-title" => "Edit", "data-toggle" => "tooltip", :href => "javascript:void(0)", :title => ""}
                            %i.fa.fa-check
                          %a.text-inverse{"data-original-title" => "Delete", "data-toggle" => "tooltip", :href => "javascript:void(0)", :title => ""}
                            %i.fa.fa-trash
                      %tr.even{:role => "row"}
                        %td.sorting_1 Barry Croucher
                        %td #85457891
                        %td
                          %img{:alt => "mac_mouse", :src => "dist/img/chair4.jpg", :width => "80"}/
                        %td Semi Circle Chair
                        %td 28
                        %td 01-10-2016
                        %td
                          %span.label.label-default.font-weight-100 Failed
                        %td
                          %a.text-inverse.p-r-10{"data-original-title" => "Edit", "data-toggle" => "tooltip", :href => "javascript:void(0)", :title => ""}
                            %i.fa.fa-check
                          %a.text-inverse{"data-original-title" => "Delete", "data-toggle" => "tooltip", :href => "javascript:void(0)", :title => ""}
                            %i.fa.fa-trash
                      %tr.odd{:role => "row"}
                        %td.sorting_1 David Perry
                        %td #85457895
                        %td
                          %img{:alt => "mac_mouse", :src => "dist/img/chair4.jpg", :width => "80"}/
                        %td Wooden chair
                        %td 15
                        %td 02-10-2016
                        %td
                          %span.label.label-default.font-weight-100 Failed
                        %td
                          %a.text-inverse.p-r-10{"data-original-title" => "Edit", "data-toggle" => "tooltip", :href => "javascript:void(0)", :title => ""}
                            %i.fa.fa-check
                          %a.text-inverse{"data-original-title" => "Delete", "data-toggle" => "tooltip", :href => "javascript:void(0)", :title => ""}
                            %i.fa.fa-trash
                      %tr.even{:role => "row"}
                        %td.sorting_1 Jens Brincker
                        %td #85457898
                        %td
                          %img{:alt => "iMac", :src => "dist/img/chair.jpg", :width => "80"}/
                        %td Square Chair
                        %td 20
                        %td 10-10-2016
                        %td
                          %span.label.label-success.font-weight-100 Paid
                        %td
                          %a.text-inverse.p-r-10{"data-original-title" => "Edit", "data-toggle" => "tooltip", :href => "javascript:void(0)", :title => ""}
                            %i.fa.fa-check
                          %a.text-inverse{"data-original-title" => "Delete", "data-toggle" => "tooltip", :href => "javascript:void(0)", :title => ""}
                            %i.fa.fa-trash
                      %tr.odd{:role => "row"}
                        %td.sorting_1 Mark Hay
                        %td #85457897
                        %td
                          %img{:alt => "iPhone", :src => "dist/img/chair2.jpg", :width => "80"}/
                        %td Semi Circle Chair
                        %td 15
                        %td 09-10-2016
                        %td
                          %span.label.label-warning.font-weight-100 Pending
                        %td
                          %a.text-inverse.p-r-10{"data-original-title" => "Edit", "data-toggle" => "tooltip", :href => "javascript:void(0)", :title => ""}
                            %i.fa.fa-check
                          %a.text-inverse{"data-original-title" => "Delete", "data-toggle" => "tooltip", :href => "javascript:void(0)", :title => ""}
                            %i.fa.fa-trash
                      %tr.even{:role => "row"}
                        %td.sorting_1 Sue Woodger
                        %td #85457892
                        %td
                          %img{:alt => "apple_watch", :src => "dist/img/chair3.jpg", :width => "80"}/
                        %td Square Chair
                        %td 30
                        %td 05-10-2016
                        %td
                          %span.label.label-success.font-weight-100 Paid
                        %td
                          %a.text-inverse.p-r-10{"data-original-title" => "Edit", "data-toggle" => "tooltip", :href => "javascript:void(0)", :title => ""}
                            %i.fa.fa-check
                          %a.text-inverse{"data-original-title" => "Delete", "data-toggle" => "tooltip", :href => "javascript:void(0)", :title => ""}
                            %i.fa.fa-trash
                  #myTable_info.dataTables_info{"aria-live" => "polite", :role => "status"} Showing 1 to 8 of 8 entries
                  #myTable_paginate.dataTables_paginate.paging_simple_numbers
                    %a#myTable_previous.paginate_button.previous.disabled{"aria-controls" => "myTable", "data-dt-idx" => "0", :tabindex => "0"} Previous
                    %span
                      %a.paginate_button.current{"aria-controls" => "myTable", "data-dt-idx" => "1", :tabindex => "0"} 1
                    %a#myTable_next.paginate_button.next.disabled{"aria-controls" => "myTable", "data-dt-idx" => "2", :tabindex => "0"} Next
