- model_class = Profile
-#TODO CHANGE PROFILE
- title t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- header t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- headercolor 'green'
-# breadcrumb @profile
-# languages_panel @profile

.main-content.container-fluid
  .row
    .col-md-12
      .invoice
        .row.invoice-header
          .col-xs-7
            .invoice-logo
          .col-xs-5.invoice-order
            %span.invoice-id Invoice #2308
            %span.incoice-date August 23, 2016
        .row.invoice-data
          .col-xs-5.invoice-person
            %span.name Kristopher Donny
            %span Developer and Designer
            %span donny@designer.co
            %span 661 Bubby Street
            %span United States
          .col-xs-2.invoice-payment-direction
            %i.icon.mdi.mdi-chevron-right
          .col-xs-5.invoice-person
            %span.name Elliot Mark
            %span CEO at BLX
            %span ceoblx@company.co
            %span 839 Owagner Drive
            %span United States
        .row
          .col-md-12
            %table.invoice-details
              %tr
                %th{:style => "width:60%"} Description
                %th.hours{:style => "width:17%"} Hours
                %th.amount{:style => "width:15%"} Amount
              %tr
                %td.description Web design (Etiam sagittis metus sit amet mauris gravida hendrerit)
                %td.hours 60
                %td.amount $4,200.00
              %tr
                %td.description Responsive design (Etiam sagittis metus sit amet mauris gravida hendrerit)
                %td.hours 10
                %td.amount $1,500.00
              %tr
                %td.description Logo design (Cras faucibus tincidunt elit id rhoncus.)
                %td.hours 12
                %td.amount $1,700.00
              %tr
                %td
                %td.summary Subtotal
                %td.amount $7,400,00
              %tr
                %td
                %td.summary Discount (20%)
                %td.amount $1,480,00
              %tr
                %td
                %td.summary.total Total
                %td.amount.total-value $5,920
        .row
          .col-md-12.invoice-payment-method
            %span.title Payment Method
            %span Credit card
            %span Credit card type: mastercard
            %span Number verification: 4256981387
        .row
          .col-md-12.invoice-message
            %span.title Thank you for contacting us
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis massa nisl. Sed fringilla turpis id mi ultrices, et faucibus ipsum aliquam. Sed ut eros placerat, facilisis est eu, congue felis.
        .row.invoice-company-info
          .col-sm-6.col-md-2.logo
            =image_tag('logol' , width: '25')
          -#%img{:alt => "Logo-symbol", :src => "assets/img/logo-symbol.png"}/
          .col-sm-6.col-md-4.summary
            %span.title Beagle Company
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          .col-sm-6.col-md-3.phone
            %ul.list-unstyled
              %li +1(535)-8999278
              %li +1(656)-3558302
          .col-sm-6.col-md-3.email
            %ul.list-unstyled
              %li beagle@company.co
              %li beagle@support.co
        .row.invoice-footer
          .col-md-12
            %button.btn.btn-lg.btn-space.btn-default Save PDF
            %button.btn.btn-lg.btn-space.btn-default Print
            %button.btn.btn-lg.btn-space.btn-primary Pay now


