.row
  = simple_form_for [:panel, @modell],:html => { :class => 'form-group' }  do |f|
    .col-sm-12

      = f.input :name
      = f.error_span :name
      = f.input :year
      = f.error_span :year
      -#= f.input :factorypics
      -#= f.error_span :factorypics
      = f.input :enabled
      = f.error_span :enabled
      = f.input :brand_id
      = f.error_span :brand_id

      = f.input :country_code
      = f.error_span :country_code
    .col-sm-6
      = f.button :submit, :class => 'btn-primary'
    .col-sm-6
      = link_to t('.cancel', :default => t("helpers.links.cancel")), panel_modells_path, :class => 'btn btn-default'
