- model_class = Modell
- title 'Listing Models'
- header t '.title', :default => model_class.model_name.human.pluralize.titleize
- headercolor 'yellow'
- breadcrumb :brands

.row
  .col-sm-12
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark optional
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          .form-wrap
            .table-responsive
              %table.table.table-striped
                %thead
                  %tr
                    %th= model_class.human_attribute_name(:id)
                    %th=t 'models.modell.fields.name'
                    %th=t 'models.modell.fields.year'
                    %th=t 'models.modell.fields.factorypics'
                    %th=t 'models.modell.fields.enabled'
                    %th=t 'models.modell.fields.brand_id'
                    %th= model_class.human_attribute_name(:created_at)
                    %th=t '.actions', :default => t("helpers.actions")
                %tbody
                  - @modells.each do |modell|
                    %tr
                      %td= link_to modell.id, panel_modell_path(modell)
                      %td= modell.name
                      %td= modell.year
                      %td
                        - modell.factorypics.each do |image|
                          = image_tag(image.url,height: '39')
                          %br
                      %td= modell.enabled
                      %td= modell.brand_id
                      %td=time_ago_in_words l modell.created_at
                      %td
                        = link_to t('.edit', :default => t("helpers.links.edit")), edit_panel_modell_path(modell), :class => 'btn btn-default btn-xs'
                        = link_to t('.destroy', :default => t("helpers.links.destroy")), panel_modell_path(modell), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

              = link_to t('.new', :default => t("helpers.links.new")), new_panel_modell_path, :class => 'btn btn-primary'
