- model_class = Modell

/ Row
.row
  .col-sm-12
    .panel.panel-default.card-view
      .panel-wrapper.collapse.in
        .panel-body
          .row
            .col-md-5
              .item-big
                .col-lg-12
                  .panel.panel-default.card-view
                    .panel-heading
                      .pull-left
                        %h6.panel-title.txt-dark owl-carousel full width
                      .clearfix
                    .panel-wrapper.collapse.in
                      .panel-body
                        %div
                          #owl_demo_1.owl-carousel.owl-theme
                            -@modell.factorypics.each do |image|
                              .item
                                = image_tag(image.url ,width: '1000')
            .col-md-7
              .product-detail-wrap
                .product-rating.inline-block.mb-10
                  %a.fa.fa-star{:href => "javascript:void(0);"}
                  %a.fa.fa-star{:href => "javascript:void(0);"}
                  %a.fa.fa-star{:href => "javascript:void(0);"}
                  %a.fa.fa-star{:href => "javascript:void(0);"}
                  %a.fa.fa-star-o{:href => "javascript:void(0);"}
                .average-review.inline-block.mb-10
                   (
                  %span.review-count 5
                  customer review)
                %h3 #{@modell.name}

                %h4.mb-20 #{@modell.brand.name}
                =@modell.year.year if @modell.year?

                .product-price.head-font.mb-30 $ 1234
                %p.mb-50 Lorem ipsum dolor sit amet, facer velit at per, possit accusamus vim an. Cu vel possit dolorum. Elit placerat molestiae mea ne.Ex has movet ornatus, ei usu latine scripta molestiae. Sea ex aeterno adversarium, te ferri errem noluisse quo, meis civibus ea est. Sit in quas nostrud.

/ Row
/ Row
.row
  .col-sm-12
    .panel.panel-default.card-view
      .panel-wrapper.collapse.in
        .panel-body
          #example-tabs.product-detail-description
            %h3 Description
            %section
              %p Activist, criteria planned giving dignity, committed democratizing the global financial system progressive. Nelson Mandela equal opportunity change accelerate pathway to a better life invest our ambitions catalyst. Making progress contribution compassion Ford Foundation, cross-agency coordination Bill and Melinda Gates development. Overcome injustice tackling activism, promising development equality hack meaningful working families. Foundation; open source; organization volunteer, replicable think tank carbon emissions reductions.
            %h3 Aditional information
            %section
              .table-wrap
                .table-responsive
                  %table.table.mb-0
                    %tbody
                      %tr
                        %td SIZE
                        %td 31, 32, 33, 34, 35
                      %tr
                        %td COLOR
                        %td blue, red, rosa, white
                      %tr
                        %td TAGS
                        %td Diesel, shoe, stars
            %h3
              Review(
              %span.review-count> 0
              )
            %section
              %p.muted.review-tag No reviews yet.
              .row.mt-40
                .col-sm-6
                  .form-wrap
                    %form
                      .form-group
                        %label.control-label.mb-10{:for => "review"} Your rating
                        #star1.product-rating.starrr
                      .form-group
                        %label.control-label.mb-10{:for => "review"} Your review
                        %textarea#review.form-control{:placeholder => "add review"}
                      .row
                        .col-sm-6
                          .form-group
                            %label.control-label.mb-10{:for => "exampleInputuname_2"} User Name
                            %input#exampleInputuname_2.form-control{:placeholder => "Username", :type => "text"}/
                        .col-sm-6
                          .form-group
                            %label.control-label.mb-10{:for => "exampleInputEmail_2"} Email address
                            %input#exampleInputEmail_2.form-control{:placeholder => "Enter email", :type => "email"}/
                      .form-group.mb-0
                        %button.btn.btn-success.mr-10{:type => "submit"} Submit
                        / /Row


%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @modell.name
%p
  %strong= model_class.human_attribute_name(:year) + ':'
  %br
  = @modell.year
%p
  %strong= model_class.human_attribute_name(:enabled) + ':'
  %br
  = @modell.enabled
%p
  %strong= model_class.human_attribute_name(:brand_id) + ':'
  %br
  = @modell.brand_id
%p
  - @modell.categories.each do |cat|
    %br
    = cat.name

= link_to t('.back', :default => t("helpers.links.back")), panel_modells_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_panel_modell_path(@modell), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), panel_modell_path(@modell), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
