= form_for @modell ,html: {multiple: true} do |f|

  .form-group
    = f.label t 'models.modell.fields.name', class: 'control-label mb-10',for: 'name'
    = f.text_field :name, class: 'form-control', id: 'name'
  .form-group
    = f.label t 'models.modell.fields.year'
    -#f.text_field :year, 'data-mask': '9999', class: 'form-control'
    =f.date_select :year
  .form-group
    = f.label t 'models.modell.fields.enabled'
    = f.check_box :enabled
  .form-group
    = f.label t 'models.modell.fields.brand_id', class: 'control-label',for: 'brand'
    = f.collection_select(:brand_id, Brand.all, :id, :name, {:prompt=>true}, {:class=>'form-control'})
  .form-group.mb-30
    %label.control-label.mb-10.text-left=t 'misc.uploadfile'
    .fileinput.fileinput-new.input-group{"data-provides" => "fileinput"}
      .form-control{"data-trigger" => "fileinput"}
        %i.glyphicon.glyphicon-file.fileinput-exists
        %span.fileinput-filename
      %span.input-group-addon.fileupload.btn.btn-info.btn-anim.btn-file
        %i.fa.fa-upload
        %span.fileinput-new.btn-text=t 'misc.selectfile'
        %span.fileinput-exists.btn-text=t 'misc.change'
        = f.file_field :factorypics, multiple: true
      %a.input-group-addon.btn.btn-danger.btn-anim.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"}
        %i.fa.fa-trash
        %span.btn-text=t 'misc.delete'
  .form-group
    = f.label t 'models.modell.fields.category', class: 'control-label',for: 'category'
    = select_tag 'categories', category_options(@chosen_category), multiple: true, class: 'chosen-it form-control '
  .form-group
    .col-lg-offset-2.col-lg-10
      = button_tag(type: 'submit' , class: 'btn btn-success btn-anim' ) do
        %i.icon-rocket
        %span.btn-text=t ("helpers.links.submit")
      = link_to t('.cancel', :default => t("helpers.links.cancel")), modells_path, :class => 'btn btn-default'

