- model_class = Modell
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th=t 'models.modell.fields.name'
      %th=t 'models.modell.fields.year'
      %th=t 'models.modell.fields.factorypics'
      %th=t 'models.modell.fields.enabled'
      %th=t 'models.modell.fields.brand_id'
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @modells.each do |modell|
      %tr
        %td= link_to modell.id, modell_path(modell)
        %td= modell.name
        %td= modell.year
        %td
          - modell.factorypics.each do |image|
            = image_tag(image.url,height: '39')
            %br
        %td= modell.enabled
        %td= modell.brand_id
        %td=l modell.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_modell_path(modell), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), modell_path(modell), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_modell_path, :class => 'btn btn-primary'
