- model_class = Profile

- title t '.title', :default => model_class.model_name.human.pluralize.titleize
- header t '.title', :default => model_class.model_name.human.pluralize.titleize
- headercolor 'green'
- breadcrumb :profiles
- languages_admin


.row
  .col-sm-12
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark=model_class.model_name.human.pluralize.titleize
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          .form-wrap
            .table-responsive
              %table.table.table-striped
                %thead
                  %tr
                    %th= model_class.human_attribute_name(:id)
                    %th= model_class.human_attribute_name(:firstname)
                    %th= model_class.human_attribute_name(:lastname)
                    %th= model_class.human_attribute_name(:location)
                    %th= model_class.human_attribute_name(:status)
                    %th= model_class.human_attribute_name(:picture)

                    %th= model_class.human_attribute_name(:created_at)
                    %th=t '.actions', :default => t("helpers.actions")
                %tbody
                  - @profiles.each do |profile|
                    %tr
                      %td= link_to profile.id, admin_profile_path(profile)
                      %td= profile.firstname
                      %td= profile.lastname
                      %td= profile.location
                      %td= profile.status
                      %td= image_tag(profile.picture, height: '50')
                      %td=t time_ago_in_words(profile.created_at)
                      %td
                        = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_profile_path(profile), :class => 'btn btn-default btn-xs'
                        = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_profile_path(profile), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

              = link_to t('.new', :default => t("helpers.links.new")), new_admin_profile_path, :class => 'btn btn-primary'
