- model_class = Profile

- title t '.title', :default => [:'helpers.titles.edit', 'Show %{model}'], :model => model_class.model_name.human.titleize
- header t '.title', :default => [:'helpers.titles.edit', 'Show %{model}'], :model => model_class.model_name.human.titleize
- headercolor 'green'
- breadcrumb @profile

.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:firstname) + ':'
  %br
  = @profile.firstname
%p
  %strong= model_class.human_attribute_name(:lastname) + ':'
  %br
  = @profile.lastname
%p
  %strong= model_class.human_attribute_name(:location) + ':'
  %br
  = @profile.location
%p
  %strong= model_class.human_attribute_name(:status) + ':'
  %br
  = @profile.status
%p
  %strong= model_class.human_attribute_name(:picture) + ':'
  %br
  = image_tag(@profile.picture, height: '100')
%p
  %strong= model_class.human_attribute_name(:user_id) + ':'
  %br
  = @profile.user.email if !@profile.user.nil?


= link_to t('.back', :default => t("helpers.links.back")), admin_profiles_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_profile_path(@profile), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), admin_profile_path(@profile), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
