

%tr{:class => ('unread' unless conversation.is_unread?(current_user))}
  %td.inbox-small-cells
    %i.fa.fa-star
  %td.view-message.dont-show=link_to "#{conversation.subject}",conversation_path(conversation)
  %td.view-message=link_to "#{conversation.last_message.body}",conversation_path(conversation)
  %td.view-message.inbox-small-cells
    %i.fa.fa-paperclip
    - if conversation.is_trashed?(current_user)
      = link_to 'Restore', restore_conversation_path(conversation), class: 'fa.fa-paperclip', method: :post
    - else
      = link_to 'Move to trash', conversation_path(conversation), class: 'fa.fa-paperclip', method: :delete,
        data: {confirm: 'Are you sure?'}
      - if conversation.is_unread?(current_user)
        = link_to 'Mark as read', mark_as_read_conversation_path(conversation), class: 'fa.fa-paperclip', method: :post
  %td.view-message= render 'conversations/participants', conversation: conversation
  %td.view-message.text-right= conversation.last_message.created_at.strftime("%-d %B %Y, %H:%M:%S")