= simple_form_for [:admin, @profile], :html => { :class => 'form-horizontal' } do |f|
  = f.input :firstname
  = f.error_span :firstname
  = f.input :lastname
  = f.error_span :lastname
  = f.input :location
  = f.error_span :location
  = f.input :status
  = f.error_span :status
  = f.input :picture
  = f.error_span :picture
  = f.input :user_id
  = f.error_span :user_id


  = f.input :deleted_at
  = f.error_span :deleted_at
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_profiles_path, :class => 'btn btn-default'
