- model_class = Profile

- title t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- header t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- headercolor 'green'
- breadcrumb @profile
- languages_panel @profile

.main-content.container-fluid
  .user-profile
    .row
      .col-md-5
        .user-display
          .user-display-bg
            =image_tag 'profilebg.png'
          .user-display-bottom
            .user-display-avatar
              =gravatar_for(current_user,90)
            .user-display-info
              .name="#{@profile.firstname} #{@profile.lastname}"
              .nick
                %span.mdi.mdi-account
                =@profile.admin.email if !@profile.admin.nil?
                =@profile.user.email if !@profile.user.nil?

            .row.user-display-details
              .col-xs-4
                .title Followers
                .counter 26
              .col-xs-4
                .title Following
                .counter 26
              .col-xs-4
                .title Member from
                .counter
                  =t time_ago_in_words(@profile.created_at)
        .user-info-list.panel.panel-default
          .panel-heading.panel-heading-divider
            About Me
            %span.panel-subtitle I am a web developer and designer based in Montreal - Canada, I like read books, good music and nature.
          .panel-body
            %table.no-border.no-strip.skills
              %tbody.no-border-x.no-border-y
                %tr
                  %td.icon
                    %span.mdi.mdi-case
                  %td.item
                    Ocupation
                    %span.icon.s7-portfolio
                  %td Developer and designer
                %tr
                  %td.icon
                    %span.mdi.mdi-cake
                  %td.item
                    Birthday
                    %span.icon.s7-gift
                  %td 16 September 1989
                %tr
                  %td.icon
                    %span.mdi.mdi-smartphone-android
                  %td.item
                    Mobile
                    %span.icon.s7-phone
                  %td (999) 999-9999
                %tr
                  %td.icon
                    %span.mdi.mdi-globe-alt
                  %td.item
                    Location
                    %span.icon.s7-map-marker
                  %td Montreal, Canada
                %tr
                  %td.icon
                    %span.mdi.mdi-pin
                  %td.item
                    Website
                    %span.icon.s7-global
                  %td www.website.com

      .col-md-6
        .panel.panel-default
          .panel-heading.panel-heading-divider
            Latest Activity
            %span.panel-subtitle This is a custom timeline widget
          .panel-body
            %ul.user-timeline
              %li.latest
                .user-timeline-date Just Now
                .user-timeline-title Create New Page
                .user-timeline-description Quisque sed est felis. Vestibulum lectus nulla, maximus in eros non, tristique consectetur lorem. Nulla molestie sem quis imperdiet facilisis
              %li
                .user-timeline-date Today - 15:35
                .user-timeline-title Back Up Theme
                .user-timeline-description Quisque sed est felis. Vestibulum lectus nulla, maximus in eros non, tristique consectetur lorem. Nulla molestie sem quis imperdiet facilisis
              %li
                .user-timeline-date Yesterday - 10:41
                .user-timeline-title Changes In The Structure
                .user-timeline-description Quisque sed est felis. Vestibulum lectus nulla, maximus in eros non, tristique consectetur lorem. Nulla molestie sem quis imperdiet facilisis



