= form_for @app do |f|

  .form-group.mb-30
    .fileinput.fileinput-new{'data-provides' => 'fileinput'}
      .fileinput-new.thumbnail{:style => 'width: 200px; height: 150px;'}
        = image_tag(@app.avatar_url, height:  '39') if @app.avatar?
      .fileinput-preview.fileinput-exists.thumbnail{:style => 'max-width: 200px; max-height: 150px;'}
      %div
        %span.btn.btn-default.btn-file
          %span.fileinput-new Select image
          %span.fileinput-exists Change
          = f.file_field :avatar , class: 'form-control', id: 'description'
          = f.hidden_field :avatar_cache
        %a.btn.btn-default.fileinput-exists{'data-dismiss' => 'fileinput', :href => '#'} Remove
  .form-group
    = f.label :name , class: 'control-label mb-10',for: 'name'
    = f.text_field :name , class: 'form-control', id: 'name'
  .form-group
    = f.label :description , class: 'control-label mb-10',for: 'description'
    = f.text_field :description , class: 'form-control', id: 'description'
  .form-group
    = f.check_box :allownew , class: 'form-control', id: 'allownew'
    = f.label 'Allow Sign Up?' , class: 'control-label string optional',for: 'allownew',type: 'checkbox'
  /TODO fix checkbox
  .form-group.mb-0
    = button_tag(type: 'submit' , class: 'btn btn-success btn-anim' ) do
      %i.icon-rocket
      %span.btn-text=t ("helpers.links.submit")
    = link_to t('.cancel', :default => t('helpers.links.cancel')), app_path(1), :class => 'btn btn-default'

