- model_class = App
- title t '.title', :default => model_class.model_name.human.titleize
- header t '.title', :default => model_class.model_name.human.titleize
- headercolor 'dark'
- breadcrumb :app

.row
  .col-sm-12
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark optional
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          .form-wrap
            %p
              %strong=t 'models.app.fields.name'
              %br
              = @app.name
            %p
              %strong=t 'models.app.fields.description'
              %br
              = @app.description
            %p
              %strong=t 'models.app.fields.avatar' if @app.avatar?
              %br
              = image_tag(@app.avatar_url,height:  '39') if @app.avatar?
            %p
              %strong=t 'models.app.fields.allownew'
              %br
              = @app.allownew


            = link_to t('.edit', :default => t("helpers.links.edit")), edit_app_path(@app), :class => 'btn btn-default'
