- model_class = App

- title 'Listing App configurations'
- header t '.title', :default => model_class.model_name.human.titleize
- headercolor 'dark'
- breadcrumb :app

.row
  .col-sm-12
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark optional
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          .form-wrap
            .form-group
              .control-label.mb-6
                %strong= model_class.human_attribute_name(:name) + ':'
              .control-label.mb-6
                = @app.name
            .form-group
              .control-label.mb-6
                %strong= model_class.human_attribute_name(:description) + ':'
              .control-label.mb-6
                = @app.description
            .form-group
              .control-label.mb-6
                %strong= model_class.human_attribute_name(:avatar) + ':' if @app.avatar?
              .control-label.mb-6
                = image_tag(@app.avatar_url,height:  '39') if @app.avatar?
            .form-group
              .control-label.mb-6
                %strong= model_class.human_attribute_name(:allownew) + ':'
              .control-label.mb-6
                = @app.allownew


            = link_to t('.edit', :default => t("helpers.links.edit")), edit_app_path(@app), :class => 'btn btn-default'
