
.row
  .col-lg-12
    .panel.panel-default.card-view
      .panel-wrapper.collapse.in
        .panel-body
          .mail-box
            .row
              %aside.col-md-3
                .user-head.text-center
                  %a.inbox-avatar.block{:href => "javascript:;"}
                    =gravatar_for(current_user,70)
                  .user-name
                    %h5
                      =link_to "#{profile.firstname}", profile_path(profile)
                    %span
                      %a=current_user.email
                .clearfix
                .mb-40
                  %a.btn.btn-success.btn-block.mt-30{:href => "#{new_message_url}", :title => "Compose"}
                    Compose
                %ul.inbox-nav.mb-30

                  = mailbox_section 'inbox', @box
                  = mailbox_section 'sent', @box
                  = mailbox_section 'trash', @box do
                    %a{:href => "#"}
                      %i.fa.fa-inbox
                      Inbox
                      %span.label.label-danger.pull-right 2
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-envelope-o
                      Sent Messages
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-trash-o
                      Trash

              %aside.col-md-9
                .inbox-head.mb-30
                  .row
                    %h3.col-sm-3 Inbox
                    .col-sm-offset-4.col-sm-5
                      %form{:role => "search"}
                        .input-group.mb-15
                          %input#example-input1-group21.form-control{:name => "example-input1-group21", :placeholder => "Search", :type => "text"}/
                          %span.input-group-btn
                            %button.btn.btn-success{:type => "button"}
                              %i.fa.fa-search
                .inbox-body
                  .panel-heading
                    .pull-left
                      %h6.panel-title.txt-dark  Compose
                    .clearfix
                  .panel-wrapper.collapse.in
                    .panel-body
                      = form_tag messages_path, class: 'form-horizontal', method: :post do
                        .form-group
                          %label.col-lg-2.control-label To
                          .col-lg-10
                            = select_tag 'recipients', recipients_options(@chosen_recipient), multiple: true, class: 'chosen-it form-control '
                        .form-group
                          %label.col-lg-2.control-label Subject
                          .col-lg-10
                            = text_field_tag 'message[subject]', nil, class: 'form-control', required: true
                        .form-group
                          %label.col-lg-2.control-label Message
                          .col-lg-10
                            = text_area_tag 'message[body]', nil, cols: 3, rows: 15, class: 'textarea_editor form-control', required: true,:placeholder => "Enter text ..."
                        .form-group
                          .col-lg-offset-2.col-lg-10
                            -#.fileupload.btn.btn-info.btn-anim.mr-10
                              %i.fa.fa-paperclip
                              %span.btn-text attachments
                              %input.upload{:type => "file"}/
                            = submit_tag 'Send', class: 'btn btn-success'
