.be-wrapper.be-login
  .be-content
    .main-content.container-fluid
      .splash-container.forgot-password
        .panel.panel-default.panel-border-color.panel-border-color-primary
          .panel-heading
            %img.logo-img{:alt => "logo", :height => "27", :src => "#{app.avatar}", :width => "102"}/
            %span.splash-description= t(".forgot_your_password")
          .panel-body
            = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
              %p.text-left= t 'devise.unlocks.send_instructions'
              .form-group
                = f.email_field :email, autofocus: true, placeholder: "#{t 'activerecord.attributes.user.email'}", class: 'form-control',:required => "", :type => "email"
              .form-group.xs-pt-5
                = f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-block btn-primary btn-xl'
        .splash-footer
          = render "devise/shared/links"
          Any problem?
          %a{:href => "#"} Contact Support
          %br
          © #{Time.now.year} #{app.name}



