%section{:class => (content_for?(:headercolor) ? yield(:headercolor) : "bg-blue")}
  .inner-header
    .container
      .pull-left
        %h6.inner-title=content_for?(:headertitle) ? yield(:headertitle) : ""
      .pull-right
        = breadcrumbs  display_single_fragment: true	,current_class: 'active', separator: ' / ', class: 'beta-breadcrumb font-large'
      .clearfix
