#footer
  .container
    .row
      .col-sm-3
        .widget
          %h4.widget-title= t 'misc.information'
          %div
            %ul
              %li
                %a{:href => "#{shop_aboutus_path}"}
                  %i.fa.fa-chevron-right
                  =t 'misc.about_us'
              %li
                %a{:href => "#{shop_testimonials_path}"}
                  %i.fa.fa-chevron-right
                  =t 'misc.testimonials'
              %li
                %a{:href => "#{shop_contact_path}"}
                  %i.fa.fa-chevron-right
                  =t 'misc.contact'

      .col-sm-5
        .col-sm-10
          .widget
            %h4.widget-title= t 'misc.contact_us'
            %div
              .contact-info
                %i.fa.fa-map-marker
                %p
                  H. Roesinger & Partner E.U.R.L
                  International Trading Company
                  6, Rue de l’Hotel de ville
                  F-68330 Huningue
      .col-sm-4
        .widget
          %h4.widget-title= t 'misc.newslettet'
          %form{:action => "#", :method => "post"}
            %input{:name => "your_email", :type => "email"}/
            %button.pull-right{:type => "submit"}
              = t 'misc.subscribe'
              %i.fa.fa-chevron-right
  / .row
  / .container
/ #footer
.copyright
  .container
    %p.pull-leftAll= t 'misc.copyright'
    %p.pull-right.pay-options
      %a{:href => "#"}
        =image_tag('master.jpg')
      %a{:href => "#"}
        =image_tag('pay.jpg')
      %a{:href => "#"}
        =image_tag('visa.jpg')
      %a{:href => "#"}
        =image_tag('paypal.jpg')
    .clearfix
  / .container
/ .copyright

