.header-bottom
  .container
    %a.visible-xs.beta-menu-toggle.pull-right{:href => "#"}
      %span.beta-menu-toggle-text Menu
      %i.fa.fa-bars
    .visible-xs.clearfix
    %nav.main-menu
      %ul.l-inline.ov
        %li
          %a{:href => "#{root_url}"}= t 'home.title'

        - categories_menu.each do |cat|
          %li
            =link_to cat.name, shop_category_path(cat)
            - unless cat.children.empty?
              %ul.sub-menu
                -for cat in cat.children
                  %li
                    =link_to cat.name, shop_category_path(cat)
        %li
          %a{:href => "#{root_url}"}
            = t 'activerecord.models.brand'
          %ul.sub-menu
            - brands_menu.each do |brand|
              %li
                =link_to brand.name, shop_brand_path(brand)

        %li
          =link_to  (t 'misc.contact'), shop_contact_path
      .clearfix

