#header
  .header-top
    .container
      .pull-left.auto-width-left
        %ul.top-menu.menu-beta.l-inline

          %li.hidden-xs
            %a{:href => "#{panel_buy_path}"}
              %i.fa.fa-home
              = t 'misc.want_buy'
          %li.hidden-xs
            %a{:href => "#{panel_sell_path}"}
              %i.fa.fa-sitemap
              = t 'misc.want_sell'
          %li.hidden-lg.hidden-md
            %a{:href => "#{panel_buy_path}"}
              %i.fa.fa-home
              = t 'misc.buy'
          %li.hidden-lg.hidden-md
            %a{:href => "#{panel_sell_path}"}
              %i.fa.fa-sitemap
              = t 'misc.sell'

          =yield(:switch_locale)

      .pull-right.auto-width-right
        %ul.top-details.menu-beta.l-inline




          -#%li.hidden-xs
            %select{:name => "currency"}
              %option{:value => "usd"} EUR
              %option{:value => "eur"} USD

          -if user_signed_in?
            %li
              %a{:href => "#{panel_profile_path(current_user.profile)}"}
                %i.fa.fa-user
                Your Account
            %li
              %a{:href => "#{destroy_user_session_path}", "data-method" => :delete}
                %i.fa.fa-fw.fa-power-off
                Log Out
          -else
            %li
              %a{:href => "#{new_user_session_path}"}
                %i.fa.fa-user
                = t ('misc.signin')
      .clearfix


  .header-body
    .container.beta-relative
      .pull-left
        %a#logo{:href => shop_root_url}
          = image_tag(app.avatar,height: '29')
        %span.slogan  
      .pull-right.beta-components.space-left.ov
        -#.beta-comp
          %form#searchform2{:action => "/", :method => "get", :role => "search"}
            %input#ss{:name => "s", :placeholder => "Search entire store here...", :type => "text", :value => ""}/
            %button#searchsubmit2.fa.fa-search{:type => "submit"}
        -#.beta-comp
          .cart
            .beta-select
              %i.fa.fa-shopping-cart
              = t 'misc.cart'
              (empty)
      .clearfix
