.row

  = simple_form_for [:admin, @incoterm],remote: true, :html => { :class => 'form-group' } do |f|
    .col-sm-12
      = f.input :smalltag
      = f.error_span :smalltag
      = f.input :name
      = f.error_span :name
      = f.input :description
      = f.error_span :description
    .col-sm-6
      = f.button :submit, :class => 'btn-primary'
    .col-sm-6
      = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_incoterms_path, :class => 'btn btn-default'
