%tr{:id => "incoterm_#{incoterm.id}"}
  %td= link_to incoterm.id, admin_incoterm_path(incoterm)
  %td= incoterm.smalltag
  %td= incoterm.name
  %td= incoterm.description
  %td=t time_ago_in_words(incoterm.created_at)
  %td
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_incoterm_path(incoterm),remote: true, :class => 'btn btn-default btn-xs'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_incoterm_path(incoterm), :method => :delete, remote:true, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
