- model_class = Incoterm

- title t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- header t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- headercolor 'green'
- breadcrumb @incoterm


.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:smalltag) + ':'
  %br
  = @incoterm.smalltag
%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @incoterm.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @incoterm.description



= link_to t('.back', :default => t("helpers.links.back")), admin_incoterms_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_incoterm_path(@incoterm), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), admin_incoterm_path(@incoterm), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
