= form_for @incoterm do |f|
  - if @incoterm.errors.any?
    #error_explanation
      %h2= "#{pluralize(@incoterm.errors.count, "error")} prohibited this incoterm from being saved:"
      %ul
        - @incoterm.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :smalltag
    = f.text_field :smalltag
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
