%h1 Listing incoterms

%table
  %thead
    %tr
      %th Smalltag
      %th Name
      %th Description
      %th
      %th
      %th

  %tbody
    - @incoterms.each do |incoterm|
      %tr
        %td= incoterm.smalltag
        %td= incoterm.name
        %td= incoterm.description
        %td= link_to 'Show', incoterm
        %td= link_to 'Edit', edit_incoterm_path(incoterm)
        %td= link_to 'Destroy', incoterm, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Incoterm', new_incoterm_path
