%p#notice= notice

%p
  %b Smalltag:
  = @incoterm.smalltag
%p
  %b Name:
  = @incoterm.name
%p
  %b Description:
  = @incoterm.description

= link_to 'Edit', edit_incoterm_path(@incoterm)
\|
= link_to 'Back', incoterms_path
