- model_class = Profile
-#TODO CHANGE PROFILE
- title t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- header t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- headercolor 'green'
-# breadcrumb @profile
-# languages_panel @profile

.main-content.container-fluid
  .row
    .col-sm-12
      .panel.panel-default.card-view
        .panel-wrapper.collapse.in
          .panel-body
            %form#example-advanced-form{:action => "#"}
              .table-wrap
                .table-responsive
                  %table#datable_1.table.display.product-overview.mb-30
                    %thead
                      %tr
                        %th Photo
                        %th Product
                        %th Quantity
                        %th price
                        %th Actions
                    %tfoot
                      %tr
                        %th{:colspan => "3"} Subtotal:
                        %th
                        %th
                    %tbody
                      %tr
                        %td
                          %img{:alt => "iMac", :src => "dist/img/chair.jpg", :width => "80"}/
                        %td PRODUCT 1
                        %td
                          %input.vertical-spin{"data-bts-button-down-class" => "btn btn-default", "data-bts-button-up-class" => "btn btn-default", :name => "vertical-spin", :type => "text", :value => "20"}/
                        %td $400
                        %td
                          %a.text-inverse{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Delete"}
                            %i.fa.fa-trash
                      %tr
                        %td
                          %img{:alt => "iMac", :src => "dist/img/chair2.jpg", :width => "80"}/
                        %td PRODUCT 2
                        %td
                          %input.vertical-spin{"data-bts-button-down-class" => "btn btn-default", "data-bts-button-up-class" => "btn btn-default", :name => "vertical-spin", :type => "text", :value => "10"}/
                        %td $450
                        %td
                          %a.text-inverse{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Delete"}
                            %i.fa.fa-trash
                      %tr
                        %td
                          %img{:alt => "iMac", :src => "dist/img/chair3.jpg", :width => "80"}/
                        %td PRODUCT 3
                        %td
                          %input.vertical-spin{"data-bts-button-down-class" => "btn btn-default", "data-bts-button-up-class" => "btn btn-default", :name => "vertical-spin", :type => "text", :value => "15"}/
                        %td $470
                        %td
                          %a.text-inverse{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Delete"}
                            %i.fa.fa-trash
                  .form-actions.pull-right
                    %button.btn.btn-success.btn-anim.mr-10
                      %i.fa.fa-shopping-cart
                      %span.btn-text continue shopping
                    %button.btn.btn-primary.btn-anim
                      %i.fa.fa-sign-out
                      %span.btn-text checkout


