= simple_form_for [:admin, @app], :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.error_span :name
  = f.input :description
  = f.error_span :description
  = f.input :avatar
  = f.error_span :avatar
  = f.input :allownew
  = f.error_span :allownew
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_app_path, :class => 'btn btn-default'
