- model_class = App

- title t '.title', :default => model_class.model_name.human.pluralize.titleize
- breadcrumb :app
- headercolor 'green'
- header t '.title', :default => model_class.model_name.human.pluralize.titleize
- languages_admin

.row
  .col-sm-12
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark=model_class.model_name.human.pluralize.titleize
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          .form-wrap
            .table-responsive
              %table.table.table-striped
                %thead
                  %tr
                    %th= model_class.human_attribute_name(:name)
                    %th= model_class.human_attribute_name(:description)
                    %th= model_class.human_attribute_name(:avatar)
                    %th= model_class.human_attribute_name(:allownew)
                    %th=t '.actions', :default => t("helpers.actions")
                %tbody
                  - @apps.each do |app|
                    %tr
                      %td= app.name
                      %td= app.description
                      %td= app.avatar
                      %td= app.allownew
                      %td
                        = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_app_path(app), :class => 'btn btn-default btn-xs'
                        = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_app_path(app), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

              = link_to t('.new', :default => t("helpers.links.new")), new_admin_app_path, :class => 'btn btn-primary'
