- model_class = App
- title t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- header t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- headercolor 'green'
- breadcrumb @app

.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @app.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @app.description
%p
  %strong= model_class.human_attribute_name(:avatar) + ':'
  %br
  = @app.avatar
%p
  %strong= model_class.human_attribute_name(:allownew) + ':'
  %br
  = @app.allownew

= link_to t('.back', :default => t("helpers.links.back")), admin_app_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_app_path(@app), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), admin_app_path(@app), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
