= simple_form_for [:admin, @categorymodel], :html => { :class => 'form-horizontal' } do |f|
  = f.input :category_id
  = f.error_span :category_id
  = f.input :modell_id
  = f.error_span :modell_id

  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_categorymodels_path, :class => 'btn btn-default'
