- model_class = Categorymodel

- title t '.title', :default => model_class.model_name.human.pluralize.titleize
- breadcrumb :categorymodels
- headercolor 'green'
- header t '.title', :default => model_class.model_name.human.pluralize.titleize
- languages_admin

.row
  .col-sm-12
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark=model_class.model_name.human.pluralize.titleize
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          .form-wrap
            .table-responsive
              %table.table.table-striped
                %thead
                  %tr
                    %th= model_class.human_attribute_name(:id)
                    %th= model_class.human_attribute_name(:category_id)
                    %th= model_class.human_attribute_name(:modell_id)
                    %th= model_class.human_attribute_name(:created_at)
                    %th=t '.actions', :default => t("helpers.actions")
                %tbody
                  - @categorymodels.each do |categorymodel|
                    %tr
                      %td= link_to categorymodel.id, admin_categorymodel_path(categorymodel)
                      %td= categorymodel.category_id
                      %td= categorymodel.modell_id
                      %td=t time_ago_in_words(categorymodel.created_at)
                      %td
                        = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_categorymodel_path(categorymodel), :class => 'btn btn-default btn-xs'
                        = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_categorymodel_path(categorymodel), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

              = link_to t('.new', :default => t("helpers.links.new")), new_admin_categorymodel_path, :class => 'btn btn-primary'
