- model_class = Categorymodel

- title t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- header t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- headercolor 'green'
- breadcrumb @incoterm


%p
  %strong= model_class.human_attribute_name(:category_id) + ':'
  %br
  = @categorymodel.category_id
%p
  %strong= model_class.human_attribute_name(:modell_id) + ':'
  %br
  = @categorymodel.modell_id



= link_to t('.back', :default => t("helpers.links.back")), admin_categorymodels_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_categorymodel_path(@categorymodel), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), admin_categorymodel_path(@categorymodel), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
