= form_for @brand do |f|
  .form-group.mb-30
    .fileinput.fileinput-new{"data-provides" => "fileinput"}
      .fileinput-new.thumbnail{:style => "width: 200px; height: 150px;"}
        = image_tag(@brand.logo_url, height:  '39') if @brand.logo?
      .fileinput-preview.fileinput-exists.thumbnail{:style => "max-width: 200px; max-height: 150px;"}
      %div
        %span.btn.btn-default.btn-file
          %span.fileinput-new=t 'misc.selectfile'
          %span.fileinput-exists=t 'misc.change'
          = f.file_field :logo , class: 'form-control', id: 'description'
          = f.hidden_field :logo_cache
        %a.btn.btn-default.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"}=t 'misc.delete'

  .form-group
    = f.label t 'models.brand.fields.name' , class: 'control-label mb-10',for: 'name'
    = f.text_field :name, class: 'form-control', id: 'name'
  .form-group
    = f.label t 'models.brand.fields.sdescription' , class: 'control-label mb-10',for: 'sdescription'
    = f.text_field :sdescription, class: 'form-control', id: 'sdescription'
  .form-group
    = f.label t 'models.brand.fields.description' , class: 'control-label mb-10',for: 'description'
    = f.text_field :description, class: 'form-control', id: 'description'

  .form-group
    = f.label t 'models.brand.fields.metatitle' , class: 'control-label mb-10',for: 'metatitle'
    = f.text_field :metatitle, class: 'form-control', id: 'metatitle'
  .form-group
    = f.label t 'models.brand.fields.enable' , class: 'control-label mb-10',for: 'enable'
    = f.check_box :enable
    /TODO add check box class
  .form-group.mb-0
    = button_tag(type: 'submit' , class: 'btn btn-success btn-anim' ) do
      %i.icon-rocket
      %span.btn-text=t ("helpers.links.submit")
    = link_to t('.cancel', :default => t("helpers.links.cancel")), brands_path, :class => 'btn btn-default'
