
%tr{:id => "offer_#{offer.id}"}
  %td= link_to offer.id, admin_offer_path(offer)
  %td= offer.serialnumber
  %td= offer.machinenumber
  %td= offer.agedate
  %td= offer.condition_id
  %td= offer.incoterm_id
  %td
  -#= offer.images
  %td= offer.description
  %td= offer.avability
  %td= offer.price_cents
  %td= offer.modell_id
  %td= offer.enabled


  %td=t time_ago_in_words(offer.created_at)
  %td
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_offer_path(offer),remote: true ,:class => 'btn btn-default btn-xs'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_offer_path(offer), :method => :delete, remote: true,:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

