.be-left-sidebar
  .left-sidebar-wrapper
    %a.left-sidebar-toggle{:href => "#"}=content_for?(:headertitle) ? yield(:headertitle) : ""
    .left-sidebar-spacer
      .left-sidebar-scroll
        .left-sidebar-content
          %ul.sidebar-elements
            %li.divider Buyer
            %li
              %a{:href => "#{panel_root_url}"}
                %i.icon.mdi.mdi-home
                %span Dashboard
            %li
              %a{:href => "#{panel_carts_url}"}
                %i.icon.mdi.mdi-home
                %span Cart
            %li
              %a{:href => "#{panel_invoices_url}"}
                %i.icon.mdi.mdi-home
                %span Invoices
            %li
              %a{:href => "#{panel_orders_url}"}
                %i.icon.mdi.mdi-home
                %span Orders
            %li.divider Seller
            %li
              %a{:href => "#{panel_brands_url}"}
                %i.icon.mdi.mdi-home
                %span Brands
            %li
              %a{:href => "#{panel_modells_url}"}
                %i.icon.mdi.mdi-home
                %span Models
            %li
              %a{:href => "#{panel_offers_url}"}
                %i.icon.mdi.mdi-home
                %span Offers


            %li
              %a{:href => "#"}
                %i.icon.mdi.mdi-home
                %span Home
            %li
              %a{:href => "#"}
                %i.icon.mdi.mdi-home
                %span Offer Product