%nav.be-right-sidebar
  .sb-content
    .tab-navigation
      %ul.nav.nav-tabs.nav-justified{:role => "tablist"}
        %li.active{:role => "presentation"}
          %a{"aria-controls" => "tab1", "data-toggle" => "tab", :href => "#tab1", :role => "tab"} Chat
        %li{:role => "presentation"}
          %a{"aria-controls" => "tab2", "data-toggle" => "tab", :href => "#tab2", :role => "tab"} Todo
        %li{:role => "presentation"}
          %a{"aria-controls" => "tab3", "data-toggle" => "tab", :href => "#tab3", :role => "tab"} Settings
    .tab-panel
      .tab-content
        #tab1.tab-pane.tab-chat.active{:role => "tabpanel"}
          .chat-contacts
            .chat-sections
              .be-scroller
                .content
                  %h2 Recent
                  .contact-list.contact-list-recent
                    .user
                      %a{:href => "#"}
                        =image_tag 'user1.png'
                        .user-data
                          %span.status.away
                          %span.name Claire Sassu
                          %span.message Can you share the...
                    .user
                      %a{:href => "#"}
                        =image_tag 'user1.png'
                        .user-data
                          %span.status
                          %span.name Maggie jackson
                          %span.message I confirmed the info.
                    .user
                      %a{:href => "#"}
                        =image_tag 'user1.png'
                        .user-data
                          %span.status.offline
                          %span.name Joel King
                          %span.message Ready for the meeti...
                  %h2 Contacts
                  .contact-list
                    .user
                      %a{:href => "#"}
                        =image_tag 'user1.png'
                        .user-data2
                          %span.status
                          %span.name Mike Bolthort
                    .user
                      %a{:href => "#"}
                        =image_tag 'user1.png'
                        .user-data2
                          %span.status
                          %span.name Maggie jackson
                    .user
                      %a{:href => "#"}
                        =image_tag 'user1.png'
                        .user-data2
                          %span.status.offline
                          %span.name Jhon Voltemar
            .bottom-input
              %input{:name => "q", :placeholder => "Search...", :type => "text"}/
              %span.mdi.mdi-search
          .chat-window
            .title
              .user
                =image_tag 'user1.png'
                %h2 Maggie jackson
                %span Active 1h ago
              %span.icon.return.mdi.mdi-chevron-left
            .chat-messages
              .be-scroller
                .content
                  %ul
                    %li.friend
                      .msg Hello
                    %li.self
                      .msg Hi, how are you?
                    %li.friend
                      .msg Good, I'll need support with my pc
                    %li.self
                      .msg Sure, just tell me what is going on with your computer?
                    %li.friend
                      .msg I don't know it just turns off suddenly
            .chat-input
              .input-wrapper
                %span.photo.mdi.mdi-camera
                %input{:autocomplete => "off", :name => "q", :placeholder => "Message...", :type => "text"}/
                %span.send-msg.mdi.mdi-mail-send
        #tab2.tab-pane.tab-todo{:role => "tabpanel"}
          .todo-container
            .todo-wrapper
              .be-scroller
                .todo-content
                  %span.category-title Today
                  %ul.todo-list
                    %li
                      .be-checkbox.be-checkbox-sm
                        %span.delete.mdi.mdi-delete
                        %input#todo1{:checked => "checked", :type => "checkbox"}/
                        %label{:for => "todo1"} Initialize the project
                    %li
                      .be-checkbox.be-checkbox-sm
                        %span.delete.mdi.mdi-delete
                        %input#todo2{:type => "checkbox"}/
                        %label{:for => "todo2"} Create the main structure
                    %li
                      .be-checkbox.be-checkbox-sm
                        %span.delete.mdi.mdi-delete
                        %input#todo3{:type => "checkbox"}/
                        %label{:for => "todo3"} Updates changes to GitHub
                  %span.category-title Tomorrow
                  %ul.todo-list
                    %li
                      .be-checkbox.be-checkbox-sm
                        %span.delete.mdi.mdi-delete
                        %input#todo4{:type => "checkbox"}/
                        %label{:for => "todo4"} Initialize the project
                    %li
                      .be-checkbox.be-checkbox-sm
                        %span.delete.mdi.mdi-delete
                        %input#todo5{:type => "checkbox"}/
                        %label{:for => "todo5"} Create the main structure
                    %li
                      .be-checkbox.be-checkbox-sm
                        %span.delete.mdi.mdi-delete
                        %input#todo6{:type => "checkbox"}/
                        %label{:for => "todo6"} Updates changes to GitHub
                    %li
                      .be-checkbox.be-checkbox-sm
                        %span.delete.mdi.mdi-delete
                        %input#todo7{:type => "checkbox"}/
                        %label{:for => "todo7", :title => "This task is too long to be displayed in a normal space!"} This task is too long to be displayed in a normal space!
            .bottom-input
              %input{:name => "q", :placeholder => "Create new task...", :type => "text"}/
              %span.mdi.mdi-plus
        #tab3.tab-pane.tab-settings{:role => "tabpanel"}
          .settings-wrapper
            .be-scroller
              %span.category-title General
              %ul.settings-list
                %li
                  .switch-button.switch-button-sm
                    %input#st1{:checked => "checked", :name => "st1", :type => "checkbox"}/
                    %span
                      %label{:for => "st1"}
                  %span.name Available
                %li
                  .switch-button.switch-button-sm
                    %input#st2{:checked => "checked", :name => "st2", :type => "checkbox"}/
                    %span
                      %label{:for => "st2"}
                  %span.name Enable notifications
                %li
                  .switch-button.switch-button-sm
                    %input#st3{:checked => "checked", :name => "st3", :type => "checkbox"}/
                    %span
                      %label{:for => "st3"}
                  %span.name Login with Facebook
              %span.category-title Notifications
              %ul.settings-list
                %li
                  .switch-button.switch-button-sm
                    %input#st4{:name => "st4", :type => "checkbox"}/
                    %span
                      %label{:for => "st4"}
                  %span.name Email notifications
                %li
                  .switch-button.switch-button-sm
                    %input#st5{:checked => "checked", :name => "st5", :type => "checkbox"}/
                    %span
                      %label{:for => "st5"}
                  %span.name Project updates
                %li
                  .switch-button.switch-button-sm
                    %input#st6{:checked => "checked", :name => "st6", :type => "checkbox"}/
                    %span
                      %label{:for => "st6"}
                  %span.name New comments
                %li
                  .switch-button.switch-button-sm
                    %input#st7{:name => "st7", :type => "checkbox"}/
                    %span
                      %label{:for => "st7"}
                  %span.name Chat messages
              %span.category-title Workflow
              %ul.settings-list
                %li
                  .switch-button.switch-button-sm
                    %input#st8{:name => "st8", :type => "checkbox"}/
                    %span
                      %label{:for => "st8"}
                  %span.name Deploy on commit

