
%nav.navbar.navbar-default.navbar-fixed-top.be-top-header
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "#{panel_root_path}"}
    .be-right-navbar
      %ul.nav.navbar-nav.navbar-right.be-user-nav
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            =image_tag 'user1.png'
            %span.user-name Túpac Amaru
          %ul.dropdown-menu{:role => "menu"}
            %li
              .user-info
                .user-name Túpac Amaru
                .user-position.online Available
            %li
              %a{:href => "#{panel_profile_path(current_user)}"}
                %span.icon.mdi.mdi-face
                Account
            %li
              %a{:href => "#"}
                %span.icon.mdi.mdi-settings
                Settings
            %li
              %a{:href => "#{destroy_user_session_path}", "data-method" => :delete}
                %span.icon.mdi.mdi-power
                Logout
      .page-title
        %span=content_for?(:headertitle) ? yield(:headertitle) : ""

      %ul.nav.navbar-nav.navbar-right.be-icons-nav
        =yield(:switch_locale)

        %li.dropdown
          %a.be-toggle-right-sidebar{"aria-expanded" => "false", :href => "#", :role => "button"}
            %span.icon.mdi.mdi-settings
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %span.icon.mdi.mdi-notifications
            %span.indicator
          %ul.dropdown-menu.be-notifications
            %li
              .title
                Notifications
                %span.badge 3
              .list
                .be-scroller
                  .content
                    %ul
                      %li.notification.notification-unread
                        %a{:href => "#"}
                          .image
                            =image_tag 'user1.png'
                          .notification-info
                            .text
                              %span.user-name Jessica Caruso
                              accepted your invitation to join the team.
                            %span.date 2 min ago
                      %li.notification
                        %a{:href => "#"}
                          .image
                            =image_tag 'user1.png'
                          .notification-info
                            .text
                              %span.user-name Joel King
                              is now following you
                            %span.date 2 days ago
                      %li.notification
                        %a{:href => "#"}
                          .image
                            =image_tag 'user1.png'
                          .notification-info
                            .text
                              %span.user-name John Doe
                              is watching your main repository
                            %span.date 2 days ago
                      %li.notification
                        %a{:href => "#"}
                          .image
                            =image_tag 'user1.png'
                          .notification-info
                            %span.text
                              %span.user-name Emily Carter
                              is now following you
                            %span.date 5 days ago
              .footer
                %a{:href => "#"} View all notifications
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %span.icon.mdi.mdi-apps
          %ul.dropdown-menu.be-connections
            %li
              .list
                .content
                  .row
                    .col-xs-4
                      %a.connection-item{:href => "#"}
                        =image_tag 'bitbucket.png'
                        %span GitHub
                    .col-xs-4
                      %a.connection-item{:href => "#"}
                        =image_tag 'bitbucket.png'
                        %span Bitbucket
                    .col-xs-4
                      %a.connection-item{:href => "#"}
                        =image_tag 'bitbucket.png'
                        %span Slack
                  .row
                    .col-xs-4
                      %a.connection-item{:href => "#"}
                        =image_tag 'bitbucket.png'
                        %span Dribbble
                    .col-xs-4
                      %a.connection-item{:href => "#"}
                        =image_tag 'bitbucket.png'
                        %span Mail Chimp
                    .col-xs-4
                      %a.connection-item{:href => "#"}
                        =image_tag 'bitbucket.png'
                        %span Dropbox
              .footer
                %a{:href => "#"} More

