
.row
  .col-lg-12
    .panel.panel-default.card-view
      .panel-wrapper.collapse.in
        .panel-body
          .mail-box
            .row
              %aside.col-md-3
                .user-head.text-center
                  %a.inbox-avatar.block{:href => "javascript:;"}
                    =gravatar_for(current_user,70)
                  .user-name
                    %h5
                      =link_to "#{profile.firstname}", profile_path(profile)
                    %span
                      %a=current_user.email
                .clearfix
                .mb-40
                  %a.btn.btn-success.btn-block.mt-30{:href => "#{new_message_url}", :title => "Compose"}
                    Compose
                %ul.inbox-nav.mb-30

                  = mailbox_section 'inbox', @box
                  = mailbox_section 'sent', @box
                  = mailbox_section 'trash', @box do
                    %a{:href => "#"}
                      %i.fa.fa-inbox
                      Inbox
                      %span.label.label-danger.pull-right 2
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-envelope-o
                      Sent Messages
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-trash-o
                      Trash

              %aside.col-md-9
                .inbox-head.mb-30
                  .row
                    %h3.col-sm-3 Inbox
                    .col-sm-offset-4.col-sm-5
                      %form{:role => "search"}
                        .input-group.mb-15
                          %input#example-input1-group21.form-control{:name => "example-input1-group21", :placeholder => "Search", :type => "text"}/
                          %span.input-group-btn
                            %button.btn.btn-success{:type => "button"}
                              %i.fa.fa-search
                .inbox-body
                  .table-responsive
                    - if @box == 'trash'
                      %p= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-danger', method: :delete,data: {confirm: 'Are you sure?'}
                    %table.table.table-inbox.table-hover
                      %tbody

                        = render partial: 'conversations/conversation', collection: @conversations
                      =will_paginate
