
.row
  .col-lg-12
    .panel.panel-default.card-view
      .panel-wrapper.collapse.in
        .panel-body
          .mail-box
            .row
              %aside.col-md-3
                .user-head.text-center
                  %a.inbox-avatar.block{:href => "javascript:;"}
                    =gravatar_for(current_user,70)
                  .user-name
                    %h5
                      =link_to "#{profile.firstname}", profile_path(profile)
                    %span
                      %a=current_user.email
                .clearfix
                .mb-40
                  %a.btn.btn-success.btn-block.mt-30{:href => "#{new_message_url}", :title => "Compose"}
                    Compose
                %ul.inbox-nav.mb-30

                  = mailbox_section 'inbox', @box
                  = mailbox_section 'sent', @box
                  = mailbox_section 'trash', @box do
                    %a{:href => "#"}
                      %i.fa.fa-inbox
                      Inbox
                      %span.label.label-danger.pull-right 2
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-envelope-o
                      Sent Messages
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-trash-o
                      Trash

              %aside.col-md-9
                .inbox-head.mb-30
                  .row
                    %h3.col-sm-4 Chatting with: #{render 'conversations/participants', conversation: @conversation}
                    .col-sm-offset-4.col-sm-4
                      %form{:role => "search"}
                        .input-group.mb-15
                          %input#example-input1-group21.form-control{:name => "example-input1-group21", :placeholder => "Search", :type => "text"}/
                          %span.input-group-btn
                            %button.btn.btn-success{:type => "button"}
                              %i.fa.fa-search
                .inbox-body
                  .heading-inbox
                    .row
                      .col-md-8
                        .compose-btn
                          %button.btn.btn-sm.mr-10{:title => "", :type => "button"}
                            %i.fa.fa-print
                          %button.btn.btn-sm{:title => ""}
                            %i.fa.fa-trash-o
                      .col-md-4.text-right
                        %span.date= time_ago_in_words(@conversation.last_message.created_at)
                    %hr.mt-25.mb-15/
                    .row
                      .col-md-12.mb-30
                        %h5= @conversation.subject
                  - @conversation.receipts_for(current_user).order(:created_at).each do |receipt|
                    - message = receipt.message
                    .sender-info
                      .row
                        .col-xs-12
                          .sender-img-wrap.pull-left.mr-20
                            = gravatar_for message.sender, 45, message.sender.name
                          .sender-details.pull-left
                            %span.capitalize-font.pr-5.txt-dark.block.font-15.head-font
                              %strong="#{message.sender.profile.firstname} says #{time_ago_in_words(message.created_at)} ago"
                            %span.block= message.body
                  = form_tag reply_conversation_path(@conversation), method: :post do
                    .form-group
                      -#= text_area_tag 'body', nil, id: :summernote, class: 'summernote'
                      = text_area_tag 'body', nil,  class: 'form-control ', placeholder: 'Type something...', required: true
                    = submit_tag "Send Message", class: 'btn btn-primary'

