= link_to "#{activity.owner.email}", profile_path( activity.owner.profile ) if activity.owner
created brand
- if activity.trackable
  =link_to "#{activity.trackable.name}",  activity.trackable
- else
  which has been removed
