/ Title
.row.heading-bg{:class => (content_for?(:headercolor) ? yield(:headercolor) : "bg-blue")}
  .col-lg-3.col-md-4.col-sm-4.col-xs-12
    %h5.txt-light=content_for?(:headertitle) ? yield(:headertitle) : ""
  / Breadcrumb
  .col-lg-9.col-sm-8.col-md-8.col-xs-12
    = breadcrumbs  display_single_fragment: true, style: :bootstrap	,current_class: 'active', separator: ''

