%footer.footer.container-fluid.pl-30.pr-30
  .row
    .col-sm-5
      %a.brand.mr-30{:href => "index.html"}
        = image_tag(app.avatar, height: '22') if app.avatar?
      %ul.footer-link.nav.navbar-nav
        %li.logo-footer
          %a{:href => "#"} help
        %li.logo-footer
          %a{:href => "#"} terms
        %li.logo-footer
          %a{:href => "#"} privacy
    .col-sm-7.text-right
      %p 2017 © All Rights Reserved