/ Left Sidebar Menu
.fixed-sidebar-left
  %ul.nav.navbar-nav.side-nav.nicescroll-bar
    %li
      %a{:href => admin_root_url}
        %i.icon-home.mr-10>
        = t 'home.title'
        %span.pull-right
    %li
      %a{"data-target" => "#catalog", "data-toggle" => "collapse", :href => "javascript:void(0);"}
        %i.icon-rocket.mr-10>
        = t 'home.catalog.title'
        %span.pull-right
          %i.fa.fa-fw.fa-angle-down
      %ul#catalog.collapse.collapse-level-1
        %li
          =link_to t('home.catalog.categories.title'), admin_categories_path
        %li
          =link_to t('home.catalog.brands.title'), admin_brands_path
        %li
          =link_to t('home.catalog.models.title'), admin_modells_path
        %li
          =link_to t('home.catalog.offers.title'), admin_offers_path
    %li
      %a{"data-target" => "#customer", "data-toggle" => "collapse", :href => "javascript:void(0);"}
        %i.icon-rocket.mr-10>
        = t 'home.usermanagement.title'
        %span.pull-right
          %i.fa.fa-fw.fa-angle-down
      %ul#customer.collapse.collapse-level-1
        %li
          =link_to "TODO USERS", admin_categories_path
        %li

    %li
      %a{"data-target" => "#appconfig_dr", "data-toggle" => "collapse", :href => "javascript:void(0);"}
        %i.icon-settings.mr-10>
        =t('home.appconfig.appsettings')
        %span.pull-right
          %i.fa.fa-fw.fa-angle-down
      %ul#appconfig_dr.collapse.collapse-level-1
        %li
          =link_to t('home.appconfig.conditions'), admin_conditions_path
        %li
          =link_to t('home.appconfig.incoterms'), admin_incoterms_path
        %li
          =link_to t('home.appconfig.appsettings'), admin_app_path(App.first)
    -#%li
      %a{"data-target" => "#messages_dr", "data-toggle" => "collapse", :href => "javascript:void(0);"}
        %i.icon-envelope-letter.mr-10>
        Messages
        %span.pull-right
          %i.fa.fa-fw.fa-angle-down
      %ul#messages_dr.collapse.collapse-level-1
        %li
          =link_to 'Messages', conversations_url
    -#%li
      %a{"data-target" => "#ecom_dr", "data-toggle" => "collapse", :href => "javascript:void(0);"}
        %i.icon-basket-loaded.mr-10>
        E-Commerce
        %span.pull-right
          %i.fa.fa-fw.fa-angle-down
      %ul#ecom_dr.collapse.collapse-level-1
        %li
          %a{:href => "e-commerce.html"} Dashboard
        %li
          %a{:href => "product.html"} Products
        %li
          %a{:href => "product-detail.html"} Product Detail
        %li
          %a{:href => "add-products.html"} Add Product
        %li
          %a{:href => "product-orders.html"} Orders
        %li
          %a{:href => "product-cart.html"} Cart
        %li
          %a{:href => "product-checkout.html"} Checkout
