
/ Top Menu Items
%nav.navbar.navbar-inverse.navbar-fixed-top

  %a{:href => root_path}
    = image_tag(app.avatar,height: '29'  ,:class => "brand-img pull-left")
  %ul.nav.navbar-right.top-nav.pull-right
    %li
      =link_to 'Sign In', new_user_session_path
