/ Top Menu Items
%nav.navbar.navbar-inverse.navbar-fixed-top
  %a#toggle_nav_btn.toggle-left-nav-btn.inline-block.mr-20.pull-left{:href => "javascript:void(0);"}
    %i.fa.fa-bars
  %a{:href => admin_root_path}
    = image_tag(app.avatar,height: '29'  ,:class => "brand-img pull-left") 
  %ul.nav.navbar-right.top-nav.pull-right
    =yield(:switch_locale)

    %li
      %a{"data-target" => "#site_navbar_search", "data-toggle" => "collapse", :href => "javascript:void(0);"}
        %i.fa.fa-search.top-nav-icon
    %li
      %a#open_right_sidebar{:href => "javascript:void(0);"}
        %i.fa.fa-cog.top-nav-icon
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %i.fa.fa-th.top-nav-icon
      %ul.dropdown-menu.app-dropdown{"data-dropdown-in" => "fadeIn", "data-dropdown-out" => "fadeOut"}
        %li
          %ul.app-icon-wrap
            %li
              %a.connection-item{:href => "#{conversations_url}"}
                %i.pe-7s-comment.txt-warning
                %span.block chat
            %li
              %a.connection-item{:href => "#"}
                %i.pe-7s-date.txt-primary
                %span.block calendar
            %li
              %a.connection-item{:href => "#"}
                %i.pe-7s-map.txt-danger
                %span.block map
            %li
              %a.connection-item{:href => "#"}
                %i.pe-7s-notebook
                %span.block contact
        %li.divider
        %li.text-center
          %a{:href => "#"} More
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %i.fa.fa-bell.top-nav-icon
        %span.top-nav-icon-badge 5
      %ul.dropdown-menu.alert-dropdown{"data-dropdown-in" => "fadeIn", "data-dropdown-out" => "fadeOut"}
        %li
          .streamline.message-box.message-nicescroll-bar
            .sl-item
              .sl-avatar.avatar.avatar-sm.avatar-circle
                -if !@profile.nil? && @profile.picture?
                  = image_tag(@profile.picture_url, height:  '80', class:  'image-circle')
                -else
                  = image_tag('user.png', :class => 'img-circle')
              .sl-content
                %a.inline-block.capitalize-font.pull-left{:href => "javascript:void(0)"} Sandy Doe
                %span.inline-block.font-12.pull-right 12/10/16
                .clearfix
                %p Neque porro quisquam est!
            %hr/
            .sl-item
              .icon
                %i.fa.fa-spotify
              .sl-content
                %a.inline-block.capitalize-font.pull-left{:href => "javascript:void(0)"}
                  2 voice mails
                %span.inline-block.font-12.pull-right 2pm
                .clearfix
                %p Neque porro quisquam est
            %hr/
            .sl-item
              .icon
                %i.fa.fa-whatsapp
              .sl-content
                %a.inline-block.capitalize-font.pull-left{:href => "javascript:void(0)"} 8 voice messanger
                %span.inline-block.font-12.pull-right 1pm
                .clearfix
                %p 8 texts
            %hr/
            .sl-item
              .icon
                %i.fa.fa-envelope
              .sl-content
                %a.inline-block.capitalize-font.pull-left{:href => "javascript:void(0)"} 2 new messages
                %span.inline-block.font-12.pull-right 1pm
                .clearfix
                %p ashjs@gmail.com
            %hr/
            .sl-item
              .sl-avatar.avatar.avatar-sm.avatar-circle
                = image_tag('user4.png' ,:class => "img-responsive img-circle")
              .sl-content
                %a.inline-block.capitalize-font.pull-left{:href => "javascript:void(0)"} Sandy Doe
                %span.inline-block.font-12.pull-right 1pm
                .clearfix
                %p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
    %li.dropdown
      %a.dropdown-toggle.pr-0{"data-toggle" => "dropdown", :href => "#"}
        = image_tag(current_admin.profile.picture_url , size: '80',:class => "user-auth-img img-circle")if current_admin.profile.picture?
        = image_tag('user.png' ,:class => "user-auth-img img-circle")if !current_admin.profile.picture?
        %span.user-online-status
      %ul.dropdown-menu.user-auth-dropdown{"data-dropdown-in" => "fadeIn", "data-dropdown-out" => "fadeOut"}
        %li
          %a{:href => admin_profile_path(current_admin.profile)}
            %i.fa.fa-fw.fa-user
            Profile
        %li
          %a{:href => "#"}
            %i.fa.fa-fw.fa-credit-card-alt
            my balance
        %li
          %a{:href => "#"}
            %i.fa.fa-fw.fa-envelope
            Inbox
        %li
          %a{:href => "#"}
            %i.fa.fa-fw.fa-gear
            Settings
        %li.divider
        %li
          %a{:href => "#{destroy_admin_session_path}", "data-method" => :delete}
            %i.fa.fa-fw.fa-power-off
            Log Out
    #site_navbar_search.collapse.navbar-search-overlap
      %form{:role => "search"}
        .form-group.mb-0
          .input-search
            .input-group
              %input#overlay_search.form-control.pl-30{:name => "overlay-search", :placeholder => "Search", :type => "text"}/
              %span.input-group-addon.pr-30
                %a.close-input-overlay{"aria-expanded" => "true", "aria-label" => "Close", "data-target" => "#site_navbar_search", "data-toggle" => "collapse", :href => "javascript:void(0)"}
                  %i.fa.fa-times
                  / /Top Menu Items

