/ Right Sidebar Menu
.fixed-sidebar-right
  %ul.right-sidebar.nicescroll-bar
    %li
      .tab-struct.custom-tab-1
        %ul#right_sidebar_tab.nav.nav-tabs{:role => "tablist"}
          %li.active{:role => "presentation"}
            %a#chat_tab_btn{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#chat_tab", :role => "tab"} chat
          %li{:role => "presentation"}
            %a#messages_tab_btn{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#messages_tab", :role => "tab"} messages
          %li{:role => "presentation"}
            %a#todo_tab_btn{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#todo_tab", :role => "tab"} todo
        #right_sidebar_content.tab-content
          #chat_tab.tab-pane.fade.active.in{:role => "tabpanel"}
            .chat-box-wrap
              %form{:role => "search"}
                .input-group.mb-15
                  %input#example-input1-group2.form-control{:name => "example-input1-group2", :placeholder => "Search", :type => "text"}/
                  %span.input-group-btn
                    %button.btn.btn-default{:type => "button"}
                      %i.fa.fa-search
              %ul.chat-list-wrap
                %li.chat-list
                  .chat-body
                    %a{:href => "javascript:void(0)"}
                      .chat-data
                        = image_tag('user.png' ,:class => "user-img img-circle")
                        .user-data
                          %span.name.block.capitalize-font ryan gosling
                          %span.time.block.txt-grey 2pm
                        .status.away
                        .clearfix
                    %a{:href => "javascript:void(0)"}
                      .chat-data
                        = image_tag('user1.png' ,:class => "user-img img-circle")
                        .user-data
                          %span.name.block.capitalize-font ryan gosling
                          %span.time.block.txt-grey 1pm
                        .status.offline
                        .clearfix
                    %a{:href => "javascript:void(0)"}
                      .chat-data
                        = image_tag('user2.png' ,:class => "user-img img-circle")
                        .user-data
                          %span.name.block.capitalize-font ryan gosling
                          %span.time.block.txt-grey 2pm
                        .status.online
                        .clearfix
          #messages_tab.tab-pane.fade{:role => "tabpanel"}
            .message-box-wrap
              .streamline.message-box
                .sl-item
                  .sl-avatar.avatar.avatar-sm.avatar-circle
                    = image_tag('user.png', :class => 'img-responsive img-circle')
                  .sl-content
                    %a.inline-block.capitalize-font.mb-5.pull-left{:href => "javascript:void(0)"} Sandy Doe
                    %span.inline-block.font-12.mb-5.pull-right 12/10/16
                    .clearfix
                    %p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
                %hr/
                .sl-item
                  .sl-avatar.avatar.avatar-sm.avatar-circle
                    = image_tag('user1.png', :class => 'img-responsive img-circle')
                  .sl-content
                    %a.inline-block.capitalize-font.mb-5.pull-left{:href => "javascript:void(0)"} Sandy Doe
                    %span.inline-block.font-12.mb-5.pull-right 2pm
                    .clearfix
                    %p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
          #todo_tab.tab-pane.fade{:role => "tabpanel"}
            .todo-box-wrap
              / Todo-List
              %ul.todo-list
                %li.todo-item
                  .checkbox.checkbox-default
                    %input#checkbox01{:type => "checkbox"}/
                    %label{:for => "checkbox01"} Record The First Episode Of HTML Tutorial
