.be-wrapper.be-login.be-signup
  .be-content
    .main-content.container-fluid
      .splash-container.forgot-password
        .panel.panel-default.panel-border-color.panel-border-color-primary
          .panel-heading
            %img.logo-img{:alt => "logo", :height => "27", :src => "#{app.avatar}", :width => "102"}/
            %span.splash-description= t 'devise.sessions.new.sign_in'
          .panel-body
            = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
              .form-group
                = f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control',:required => "", :type => "email"
              .form-group
                = f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control'

                - if devise_mapping.rememberable?
                  .form-group.row.login-tools
                    .col-xs-6.login-remember
                      .be-checkbox
                        = f.check_box :remember_me
                        = f.label :remember_me

              .form-group.xs-pt-5
                = f.submit t(".sign_in"), class: 'btn btn-block btn-primary btn-xl'

        .splash-footer
          = render "devise/shared/links"

          © #{Time.now.year} #{app.name}


