= form_for @offer do |f|
  - if @offer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@offer.errors.count, "error")} prohibited this offer from being saved:"
      %ul
        - @offer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :serialnumber
    = f.text_field :serialnumber
  .field
    = f.label :machinenumber
    = f.text_field :machinenumber
  .field
    = f.label :agedate
    = f.date_select :agedate
  .field
    = f.label :condition
    = f.text_field :condition
  .field
    = f.label :incoterm
    = f.text_field :incoterm
  .field
    = f.label :images
    = f.text_field :images
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :avability
    = f.check_box :avability
  .field
    = f.label :price_cents
    = f.text_field :price_cents
  .field
    = f.label :modell
    = f.text_field :modell
  .field
    = f.label :enabled
    = f.check_box :enabled
  .actions
    = f.submit 'Save'
