%h1 Listing offers

%table
  %thead
    %tr
      %th Serialnumber
      %th Machinenumber
      %th Agedate
      %th Condition
      %th Incoterm
      %th Images
      %th Description
      %th Avability
      %th Price cents
      %th Modell
      %th Enabled
      %th
      %th
      %th

  %tbody
    - @offers.each do |offer|
      %tr
        %td= offer.serialnumber
        %td= offer.machinenumber
        %td= offer.agedate
        %td= offer.condition
        %td= offer.incoterm
        %td= offer.images
        %td= offer.description
        %td= offer.avability
        %td= offer.price_cents
        %td= offer.modell
        %td= offer.enabled
        %td= link_to 'Show', offer
        %td= link_to 'Edit', edit_offer_path(offer)
        %td= link_to 'Destroy', offer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Offer', new_offer_path
