%p#notice= notice

%p
  %b Serialnumber:
  = @offer.serialnumber
%p
  %b Machinenumber:
  = @offer.machinenumber
%p
  %b Agedate:
  = @offer.agedate
%p
  %b Condition:
  = @offer.condition
%p
  %b Incoterm:
  = @offer.incoterm
%p
  %b Images:
  = @offer.images
%p
  %b Description:
  = @offer.description
%p
  %b Avability:
  = @offer.avability
%p
  %b Price cents:
  = @offer.price_cents
%p
  %b Modell:
  = @offer.modell
%p
  %b Enabled:
  = @offer.enabled

= link_to 'Edit', edit_offer_path(@offer)
\|
= link_to 'Back', offers_path
