%tr{:id => "category_#{category.id}"}
  %td= link_to category.id, admin_category_path(category)
  %td= category.name
  %td= category.description
  %td= category.position
  %td=t time_ago_in_words(category.created_at)
  %td
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_category_path(category),remote: true, :class => 'btn btn-default btn-xs'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_category_path(category), :method => :delete,remote: true, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' if !category.main?
