.row
  = simple_form_for [:admin, @category], remote: true, :html => { :class => 'form-group' } do |f|
    .col-sm-12
      = f.input :name
      = f.error_span :name
      = f.input :description
      = f.error_span :description
      = f.input :position
      = f.error_span :position

    .col-sm-6
      = f.button :submit, :class => 'btn-primary'
    .col-sm-6
      = link_to t('.cancel', :default => t("helpers.links.cancel")),admin_categories_path, :class => 'btn btn-default'
