- model_class = Category
- title t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- header t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- headercolor 'green'
- breadcrumb @category


.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @category.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @category.description
%p
  %strong= model_class.human_attribute_name(:position) + ':'
  %br
  = @category.position
%p
  %strong= model_class.human_attribute_name(:parent_id) + ':'
  %br
  = @category.parent_id
%p
  %strong= model_class.human_attribute_name(:ancestry) + ':'
  %br
  = @category.ancestry
%p
  %strong= model_class.human_attribute_name(:deleted_at) + ':'
  %br
  = @category.deleted_at
%p
  %strong= model_class.human_attribute_name(:tags) + ':'
  %br
  = @category.tags


= link_to t('.back', :default => t("helpers.links.back")), admin_categories_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_category_path(@category), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), admin_category_path(@category), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
