
= form_for @category do |f|
  .form-group
    = f.label t 'models.category.fields.name' , class: 'control-label mb-10',for: 'name'
    = f.text_field :name , class: 'form-control', id: 'name'
  .form-group
    = f.label t 'models.category.fields.description' , class: 'control-label mb-10',for: 'description'
    = f.text_field :description , class: 'form-control', id: 'description'
  .form-group
    -if !@category.main
      = f.label t 'models.category.fields.parent_id' , class: 'control-label mb-10'
      = f.collection_select  :parent_id, Category.all, :id, :name, :include_blank => true , class: 'form-control'

  .form-group.mb-0
    = button_tag(type: 'submit' , class: 'btn btn-success btn-anim' ) do
      %i.icon-rocket
      %span.btn-text=t ("helpers.links.submit")
    = link_to t('.cancel', :default => t("helpers.links.cancel")), categories_path, :class => 'btn btn-default'
