- model_class = Category

- title t 'models.category.title'
- breadcrumb :categories
- headercolor 'green'
- header t '.title', :default => model_class.model_name.human.pluralize.titleize

.row
  .col-sm-12
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark optional
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          .form-wrap
            .table-responsive
              %table.table.table-striped
                %thead
                  %tr
                    %th=t model_class.human_attribute_name(:id)
                    %th=t 'models.category.fields.name'
                    %th=t 'models.category.fields.description'

                    %th= model_class.human_attribute_name(:created_at)
                    %th=t '.actions', :default => t("helpers.actions")
                %tbody
                  - @categories.each do |category|
                    %tr
                      %td= link_to category.id, category_path(category)
                      %td= category.name
                      %td= category.description

                      %td=time_ago_in_words category.created_at
                      %td
                        = link_to t('.edit', :default => t("helpers.links.edit")), edit_category_path(category), :class => 'btn btn-default btn-xs'
                        -if !category.main
                          = link_to t('.destroy', :default => t("helpers.links.destroy")), category_path(category), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

            = link_to t('.new', :default => t("helpers.links.new")), new_category_path, :class => 'btn btn-primary'


