- model_class = Category

- title "Category #{@category.name}"
- header t '.title', :default => model_class.model_name.human.titleize
- headercolor 'green'
- breadcrumb @category

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @category.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @category.description



.row
  .col-sm-12
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark Default
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          -@category.modells.each do |model|
            .col-md-3
              .item-big
                .col-lg-12
                  .panel.panel-default.card-view
                    .panel-heading
                      .pull-left
                        %h6.panel-title.txt-dark=model.name
                        =model.brand.name
                      .clearfix
                    .panel-wrapper.collapse.in
                      .panel-body
                        %div
                          #owl_demo_1.owl-carousel.owl-theme
                            -model.factorypics.each do |image|
                              .item
                                = image_tag(image.url ,width: '1000')


= link_to t('.back', :default => t("helpers.links.back")), categories_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_category_path(@category), :class => 'btn btn-default'
-if !@category.main
  = link_to t('.destroy', :default => t("helpers.links.destroy")), category_path(@category), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
