- model_class = App
-#TODO change title,breadcrumb and header
- title t '.title', :default => model_class.model_name.human.pluralize.titleize
- breadcrumb :products
- headercolor 'green'
- header t '.title', :default => model_class.model_name.human.pluralize.titleize


.container
  #content.space-top-none
    .main-content

      .space40  
      .row
        .col-sm-3.aside
          .widget
            %h3.widget-title Brands
            .widget-body
              %ul.list-unstyled
                -@brands.each do |brand|
                  %li
                    %input{:id => "brands-#{brand.name}" ,:name => "brands", :type => "checkbox", :value => "#{brand.name}"}/
                    %label{:for => "brands-#{brand.name}"}
                      %span
                      =brand.name

          .widget
            %h3.widget-title Price Range
            .widget-body
              .price-filter
                #price-filter-range
                %span.pull-left
                  Price:
                  %span#price-filter-amount
                %a.beta-btn.primary.pull-right{:href => "#"}
                  Filter
                  %i.fa.fa-chevron-right
                .clearfix
          / price range widget
          .widget
            %h3.widget-title Best Sellers
            .widget-body
              .beta-sales.beta-lists
                .media.beta-sales-item
                  %a.pull-left{:href => "product.html"}
                    =image_tag 'chair2.jpg'
                  .media-body
                    Sample Woman Top
                    %span.beta-sales-price $34.55
                .media.beta-sales-item
                  %a.pull-left{:href => "product.html"}
                    =image_tag 'chair2.jpg'
                  .media-body
                    Sample Woman Top
                    %span.beta-sales-price $34.55
                .media.beta-sales-item
                  %a.pull-left{:href => "product.html"}
                    =image_tag 'chair2.jpg'
                  .media-body
                    Sample Woman Top
                    %span.beta-sales-price $34.55
                .media.beta-sales-item
                  %a.pull-left{:href => "product.html"}
                    =image_tag 'user.png'
                  .media-body
                    Sample Woman Top
                    %span.beta-sales-price $34.55

        .col-sm-9
          .beta-products-list
            %h4 All Products
          .beta-products-list
            -@products.in_groups_of(3, false).each do |group|
              .row
                -group.each do |product|
                  .col-sm-4
                    .single-item
                      .single-item-header
                        %a{:href => "#{shop_product_path(product)}"}
                          -if !product.factorypics.first.nil?
                            = image_tag(product.factorypics.first, height: '200')
                      .single-item-body
                        %p.single-item-title=product.name
                      .single-item-caption
                        %a.beta-btn.primary{:href => "#{shop_product_path(product)}"}
                          Details
                          %i.fa.fa-chevron-right
              .space30  

