-#TODO change title,breadcrumb and header
- title t '.title', :default => @product.name
- breadcrumb :product , @product
- headercolor 'green'
- header t '.title', :default => @product.name


#content
  .row
    .col-sm-9
      .row
        .col-sm-4
          -if !@product.factorypics.first.nil?
            = image_tag(@product.factorypics.first.index)
        .col-sm-8
          .single-item-body
            %p.single-item-title=@product.name
            %p.single-item-price
              %span €34.55
          .woocommerce-product-rating
            .star-rating{:title => "Rated 4.00 out of 5"}
              %span{:style => "width:80%"}
                %strong.rating{:itemprop => "ratingValue"} 4.00
                out of 5
            %span.color-gray (14)
          .clearfix
          .space20  
          .single-item-desc
            %p Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo ms id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe.
          .space20  
          %p Options:
          .single-item-options
            %select.wc-select{:name => "color"}
              %option Qty
              %option{:value => "1"} 1
              %option{:value => "2"} 2
              %option{:value => "3"} 3
              %option{:value => "4"} 4
              %option{:value => "5"} 5
            %a.add-to-cart{:href => "#"}
              %i.fa.fa-shopping-cart
            .clearfix
      .space40  
      .woocommerce-tabs
        %ul.tabs
          %li
            %a{:href => "#tab-description"} Description
          %li
            %a{:href => "#tab-reviews"} Reviews (0)
        #tab-description.panel
          %p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
          %p Consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequaturuis autem vel eum iure reprehenderit qui in ea voluptate velit es quam nihil molestiae consequr, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
        #tab-reviews.panel
          %p No Reviews
      .space50  
      .beta-products-list
        %h4 Related Products
        .row
          .col-sm-3
            .single-item
              .single-item-header
                %a{:href => "product.html"}
                  =image_tag 'chair2.jpg'
              .single-item-body
                %p.single-item-title Product
                %p.single-item-price
                  %span $34.55
              .single-item-caption
                %a.add-to-cart.pull-left{:href => "product.html"}
                  %i.fa.fa-shopping-cart
                %a.beta-btn.primary{:href => "product.html"}
                  Details
                  %i.fa.fa-chevron-right
                .clearfix
          .col-sm-3
            .single-item
              .single-item-header
                %a{:href => "product.html"}
                  =image_tag 'chair2.jpg'
              .single-item-body
                %p.single-item-title Product
                %p.single-item-price
                  %span $34.55
              .single-item-caption
                %a.add-to-cart.pull-left{:href => "product.html"}
                  %i.fa.fa-shopping-cart
                %a.beta-btn.primary{:href => "product.html"}
                  Details
                  %i.fa.fa-chevron-right
                .clearfix
          .col-sm-3
            .single-item
              .ribbon-wrapper
                .ribbon.sale Sale
              .single-item-header
                %a{:href => "#"}
                  =image_tag 'chair2.jpg'
              .single-item-body
                %p.single-item-title Product
                %p.single-item-price
                  %span.flash-del $34.55
                  %span.flash-sale $33.55
              .single-item-caption
                %a.add-to-cart.pull-left{:href => "#"}
                  %i.fa.fa-shopping-cart
                %a.beta-btn.primary{:href => "#"}
                  Details
                  %i.fa.fa-chevron-right
                .clearfix
    / .beta-products-list
    .col-sm-3.aside
      .widget
        %h3.widget-title Best Sellers
        .widget-body
          .beta-sales.beta-lists
            .media.beta-sales-item
              %a.pull-left{:href => "product.html"}
                =image_tag 'chair2.jpg'
              .media-body
                Product
                %span.beta-sales-price $34.55
            .media.beta-sales-item
              %a.pull-left{:href => "product.html"}
                =image_tag 'chair2.jpg'
              .media-body
                Product
                %span.beta-sales-price $34.55
            .media.beta-sales-item
              %a.pull-left{:href => "product.html"}
                =image_tag 'chair2.jpg'
              .media-body
                Product
                %span.beta-sales-price $34.55
            .media.beta-sales-item
              %a.pull-left{:href => "product.html"}
                =image_tag 'chair2.jpg'
              .media-body
                Product
                %span.beta-sales-price $34.55
      / best sellers widget
      .widget
        %h3.widget-title Twitter Feeds
        .widget-body
          .twitter-feed.beta-lists
            .tweet
              %i.fa.fa-twitter
              .tweet-body
                %p
                  %a{:href => "#"} @ShopaHolic
                  Proin feugiat mattis ante sed adipiscing velit sodales.
                %small.tweet-time 25 Minutes ago
            .tweet
              %i.fa.fa-twitter
              .tweet-body
                %p
                  Proin feugiat mattis ante sed adipiscing velit sodales.
                  %a{:href => "#"} http://shopaholic.com
                %small.tweet-time 25 Minutes ago

      /= render 'payola/transactions/checkout',  sellable: Offer.first
      / twitter feeds widget
      -#.widget
        %h3.widget-title Tags
        .widget-body
          .beta-tags
            -@product.tags.each do |tag|
              = link_to tag.name, shop_products_url+"?tag=#{tag.name}"
