

= form_for @profile, :html => { :class => 'form-horizontal' }  do |f|
  .form-body
    %h6.txt-dark.capitalize-font
      %i.icon-user.mr-10>
      Person's Info
    %hr/
    .row
      .col-md-6
        .form-group
          %label.control-label.col-md-3= f.label :firstname, class: 'control-label mb-10',for: 'firstname'
          .col-md-9
            %input.form-control{:placeholder => "John doe", :type => "text"}/
            %span.help-block This is inline help
      .col-md-6
        .form-group
          %label.control-label.col-md-3=f.label :lastname, class: 'control-label mb-10',for: 'lastname'
          .col-md-9
            %input.form-control{:placeholder => "12n", :type => "text"}/
            %span.help-block This is inline help
    .row
      .col-md-6
        .form-group
          %label.control-label.col-md-3 Gender
          .col-md-9
            %select.form-control
              %option{:value => ""} Male
              %option{:value => ""} Female
            %span.help-block Select your gender.
      .col-md-6
        .form-group
          %label.control-label.col-md-3 Date of Birth
          .col-md-9
            %input.form-control{:placeholder => "dd/mm/yyyy", :type => "text"}/
    .row
      .col-md-6
        .form-group
          %label.control-label.col-md-3 Category
          .col-md-9
            %select.form-control{"data-placeholder" => "Choose a Category", :tabindex => "1"}
              %option{:value => "Category 1"} Category 1
              %option{:value => "Category 2"} Category 2
              %option{:value => "Category 3"} Category 5
              %option{:value => "Category 4"} Category 4
      .col-md-6
        .form-group
          %label.control-label.col-md-3 Membership
          .col-md-9
            .radio-list
              .radio-inline.pl-0
                %span.radio.radio-info
                  %input#radio_9{:name => "radio7", :type => "radio", :value => "option1"}/
                  %label{:for => "radio_9"} Option 1
              .radio-inline.pl-0
                %span.radio.radio-info
                  %input#radio_10{:name => "radio7", :type => "radio", :value => "option2"}/
                  %label{:for => "radio_10"} Option 2
    .seprator-block
    %h6.txt-dark.capitalize-font
      %i.icon-notebook.mr-10>
      address
    %hr/
    / /Row
    .row
      .col-md-6
        .form-group
          %label.control-label.col-md-3 Address 1
          .col-md-9
            %input.form-control{:type => "text"}/
      .col-md-6
        .form-group
          %label.control-label.col-md-3 Address 2
          .col-md-9
            %input.form-control{:type => "text"}/
    .row
      .col-md-6
        .form-group
          %label.control-label.col-md-3 City
          .col-md-9
            %input.form-control{:type => "text"}/
      .col-md-6
        .form-group
          %label.control-label.col-md-3 State
          .col-md-9
            %input.form-control{:type => "text"}/
    .row
      .col-md-6
        .form-group
          %label.control-label.col-md-3 Post Code
          .col-md-9
            %input.form-control{:type => "text"}/
      .col-md-6
        .form-group
          %label.control-label.col-md-3 Country
          .col-md-9
            %select.form-control
              %option Country 1
              %option Country 2

  .form-actions.mt-10
    .row
      .col-md-6
        .row
          .col-md-offset-3.col-md-9
            %button.btn.btn-success.mr-10{:type => "submit"} Submit
            %button.btn.btn-default{:type => "button"} Cancel
      .col-md-6



  .form-group.mb-30
    .fileinput.fileinput-new{"data-provides" => "fileinput"}
      .fileinput-new.thumbnail{:style => "width: 200px; height: 150px;"}
        = image_tag(@profile.picture_url, height:  '39') if @profile.picture?
      .fileinput-preview.fileinput-exists.thumbnail{:style => "max-width: 200px; max-height: 150px;"}
      %div
        %span.btn.btn-default.btn-file
          %span.fileinput-new Select image
          %span.fileinput-exists Change
          = f.file_field :picture , class: 'form-control', id: 'description'
          = f.hidden_field :picture_cache
      %a.btn.btn-default.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"} Remove
  .form-group
    = f.label :lastname, class: 'control-label mb-10',for: 'firsname'
    = f.text_field :firstname , class: 'form-control', id: 'firstname'
  .form-group
    = f.label :lastname, class: 'control-label mb-10',for: 'lastname'
    = f.text_field :lastname , class: 'form-control', id: 'lastname'
  .form-group
    = f.label :location, class: 'control-label mb-10',for: 'location'
    = f.text_field :location , class: 'form-control', id: 'location'
  .form-group
    = f.label :status, class: 'control-label mb-10',for: 'status'
    = f.text_field :status , class: 'form-control', id: 'status'


  .form-group.mb-0
    = button_tag(type: 'submit' , class: 'btn btn-success btn-anim' ) do
      %i.icon-rocket
      %span.btn-text=t ("helpers.links.submit")
    = link_to t('.cancel', :default => t("helpers.links.cancel")), profiles_path, :class => 'btn btn-default'
