- model_class = Profile

- title 'List Profiles'
- header t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
- headercolor 'yellow'
- breadcrumb :profiles

.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th=t 'models.profile.fields.firstname'
      %th=t 'models.profile.fields.lastname'
      %th=t 'models.profile.fields.location'
      %th=t 'models.profile.fields.status'
      %th=t 'models.profile.fields.picture'
      %th= model_class.human_attribute_name(:user_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @profiles.each do |profile|
      %tr
        %td= link_to profile.id, profile_path(profile)
        %td= profile.firstname
        %td= profile.lastname
        %td= profile.location
        %td= profile.status
        %td= profile.picture
        %td= profile.user_id
        %td=l profile.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_profile_path(profile), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), profile_path(profile), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_profile_path, :class => 'btn btn-primary'
