- model_class = Profile

- title "Edit #{@category.name}"
- header t '.title', :default => [:'helpers.titles.new', 'Edit %{model}'], :model => model_class.model_name.human.titleize
- headercolor 'green'
- breadcrumb @category

.row
  .col-sm-12
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark optional
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          .form-wrap
            = render :partial => 'form'

