- model_class = Profile

- title "Show #{@profile.firstname}"
- header t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- headercolor 'yellow'
- breadcrumb @profile

.row
  .col-lg-4.col-md-12.col-sm-12.col-xs-12
    .panel.panel-default.card-view
      .panel-wrapper.collapse.in
        .panel-body
          / START carousel
          #testimonial_slider.carousel.slide.testimonial-slider-wrap.text-slider{"data-ride" => "carousel"}
            %ol.carousel-indicators
            .carousel-inner.mb-50{:role => "listbox"}
              .item.active
                .testimonial-wrap.text-center.pl-30.pr-30
                  %a.dropdown-toggle.pr-0
                    = image_tag(current_user.profile.picture_url ,height: '150', width: '150',:class => "user-auth-img img-circle")if current_user.profile.picture?
                    = image_tag('user.png' ,:class => "user-auth-img img-circle")if !current_user.profile.picture?
                  %p.pt-20.font-16=@profile.status
                  %span.testi-pers-name.block.mt-15.txt-dark.capitalize-font.head-font
                    = "#{@profile.firstname}  #{@profile.firstname}"
                  %span.testi-pers-desg.block.capitalize-font
                    = @profile.status
                  %br
                  = link_to t('.edit', :default => t('helpers.links.edit')), edit_profile_path(@profile), :class => 'btn btn-default'
  .col-lg-6
    Fecha de nacimiento, verificado, telefono

/ Row
.row
  .col-lg-12
    .panel.panel-default.card-view
      .panel-body
        %ul.timeline
          %li
            .timeline-badge.bg-yellow
              %i.icon-layers{:id => ""}
            .timeline-panel.bg-yellow.pa-30
              .timeline-heading
                %h6.txt-light.mb-15 1 september 15
              .timeline-body
                %h4.txt-light.mb-5 pogody
                %p.lead.txt-light.head-font.mb-20 Responsive html5 template
                %p.txt-light Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.
          %li.timeline-inverted
            .timeline-badge.bg-pink
              %i.icon-magnifier-add{:id => ""}
            .timeline-panel.bg-pink.pa-30
              .timeline-heading
                %h6.txt-light.mb-15 23 March 16
              .timeline-body
                %h4.txt-light.mb-5 Beavis
                %p.lead.txt-light.head-font.mb-20 HTML5 Coming Soon Template
                %p.txt-light Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.
          %li
            .timeline-badge.bg-red
              %i.icon-briefcase{:id => ""}
            .timeline-panel.bg-red.pa-30
              .timeline-heading
                %h6.txt-light.mb-15 23 March 16
              .timeline-body
                %h4.txt-light.mb-5 Felix
                %p.lead.txt-light.head-font.mb-20 Personal Blogging PSD Template
                %p.txt-light Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.
          %li.timeline-inverted
            .timeline-badge.bg-blue
              %i.icon-social-stumbleupon{:id => ""}
            .timeline-panel.bg-blue.pa-30
              .timeline-heading
                %h6.txt-light.mb-15 11 August 16
              .timeline-body
                %h4.txt-light.mb-5 Beryl
                %p.lead.txt-light.head-font.mb-20 Responsive HTML5 Coming Soon
                %p.txt-light Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.
          %li
            .timeline-badge.bg-green
              %i.icon-flag{:id => ""}
            .timeline-panel.bg-green.pa-30
              .timeline-heading
                %h6.txt-light.mb-15 11 August 16
              .timeline-body
                %h4.txt-light.mb-5 Cinnabar
                %p.lead.txt-light.head-font.mb-20 Multipurpose PSD Template
                %p.txt-light Invitamus me testatur sed quod non dum animae tuae lacrimis ut libertatem deum rogus aegritudinis causet. Dicens hoc contra serpentibus isto.
          %li.clearfix.no-float
/ /Row











/ Row
.row
  .col-md-12
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark Personal Information
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          .row
            .col-md-12
              .form-wrap
                %form.form-horizontal{:action => '#'}
                  .form-body
                    %h6.txt-dark.capitalize-font
                      %i.icon-user.mr-10>
                      Person's Info
                    %hr/
                    .row
                      .col-md-6
                        .form-group
                          %label.control-label.col-md-3= model_class.human_attribute_name(:firstname) + ':'
                          .col-md-9
                            %p.form-control-static
                            %span.help-block This is inline help
                      .col-md-6
                        .form-group
                          %label.control-label.col-md-3= model_class.human_attribute_name(:lastname) + ':'
                          .col-md-9
                            %p.form-control-static= @profile.lastname
                            %span.help-block This is inline help

                    / /span
                    / /Row
                    .row
                      .col-md-6
                        .form-group
                          %label.control-label.col-md-3 Gender
                          .col-md-9
                            %select.form-control
                              %option{:value => ''} Male
                              %option{:value => ''} Female
                            %span.help-block Select your gender.
                      / /span
                      .col-md-6
                        .form-group
                          %label.control-label.col-md-3 Date of Birth
                          .col-md-9
                            %input.form-control{:placeholder => 'dd/mm/yyyy', :type => 'text'}/
                    / /span
                    / /Row
                    .row
                      .col-md-6
                        .form-group
                          %label.control-label.col-md-3 Category
                          .col-md-9
                            %select.form-control{'data-placeholder' => 'Choose a Category', :tabindex => '1'}
                              %option{:value => 'Category 1'} Category 1
                              %option{:value => 'Category 2'} Category 2
                              %option{:value => 'Category 3'} Category 5
                              %option{:value => 'Category 4'} Category 4
                      / /span
                      .col-md-6
                        .form-group
                          %label.control-label.col-md-3 Membership
                          .col-md-9
                            .radio-list
                              .radio-inline.pl-0
                                %span.radio.radio-info
                                  %input#radio_9{:name => 'radio7', :type => 'radio', :value => 'option1'}/
                                  %label{:for => 'radio_9'} Option 1
                              .radio-inline.pl-0
                                %span.radio.radio-info
                                  %input#radio_10{:name => 'radio7', :type => 'radio', :value => 'option2'}/
                                  %label{:for => 'radio_10'} Option 2
                    / /span
                    .seprator-block
                    %h6.txt-dark.capitalize-font
                      %i.icon-notebook.mr-10>
                      address
                    %hr/
                    / /Row
                    .row
                      .col-md-6
                        .form-group
                          %label.control-label.col-md-3 Address 1
                          .col-md-9
                            %input.form-control{:type => 'text'}/
                      .col-md-6
                        .form-group
                          %label.control-label.col-md-3 Address 2
                          .col-md-9
                            %input.form-control{:type => 'text'}/
                    .row
                      .col-md-6
                        .form-group
                          %label.control-label.col-md-3 City
                          .col-md-9
                            %input.form-control{:type => 'text'}/
                      / /span
                      .col-md-6
                        .form-group
                          %label.control-label.col-md-3 State
                          .col-md-9
                            %input.form-control{:type => 'text'}/
                    / /span
                    / /Row
                    .row
                      .col-md-6
                        .form-group
                          %label.control-label.col-md-3 Post Code
                          .col-md-9
                            %input.form-control{:type => 'text'}/
                      / /span
                      .col-md-6
                        .form-group
                          %label.control-label.col-md-3 Country
                          .col-md-9
                            %select.form-control
                              %option Country 1
                              %option Country 2
                  / /span
                  / /Row
                  .form-actions.mt-10
                    .row
                      .col-md-6
                        .row
                          .col-md-offset-3.col-md-9
                            %button.btn.btn-success.mr-10{:type => 'submit'} Submit
                            %button.btn.btn-default{:type => 'button'} Cancel
                      .col-md-6


.row