%h5= link_to category.name, shop_category_path(category)
Uploaded
= time_ago_in_words(category.updated_at)
Offers:
=number_to_human(category.modells.count)
.space20  
= category.description
-#-category.tags.each do |tag|
  Tags:
  = link_to tag.name, shop_categories_url+"?tag=#{tag.name}"
