- model_class = Category

- title t '.title', :default => model_class.model_name.human.pluralize.titleize
- breadcrumb :shopcategories
- headercolor 'green'
- header t '.title', :default => model_class.model_name.human.pluralize.titleize
- languages

#content
  .row
    .col-sm-8
      .panel.panel-default.card-view

        .panel-wrapper.collapse.in
          .panel-body
            .form-wrap
              .table-responsive
                %table.table.table-striped
                  %thead
                    %tr
                      %th= model_class.human_attribute_name(:id)
                      %th= model_class.human_attribute_name(:name)
                      %th= model_class.human_attribute_name(:description)
                      %th= model_class.human_attribute_name(:updated_at)
                  %tbody



    .col-sm-4

      %h5 All Categories
      =nested_categories_index @home.descendants.arrange(:orders => :created_at)