- model_class = Category
- title "Category - #{@category.name}"
- header "Category - #{@category.name}"
-# title t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
-# header t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- headercolor 'green'
- breadcrumb :shopcategory, @category
- content_for(:change_lang) { shop_category_path(@category) }
- languages @category


.container
  #content


    .row
      .col-sm-9
        .row
          .col-sm-12
            .beta-products-list
              %h4 All Products
            .beta-products-list
              -@products.in_groups_of(3, false).each do |group|
                .row
                  -group.each do |product|
                    .col-sm-4
                      .single-item
                        .single-item-header
                          %a{:href => "#{shop_product_path(product)}"}
                            -if !product.factorypics.first.nil?
                              = image_tag(product.factorypics.first.thumb, height: '200')
                        .single-item-body
                          %p.single-item-title=product.name
                        .single-item-caption
                          %a.beta-btn.primary{:href => "#{shop_product_path(product)}"}
                            Details
                            %i.fa.fa-chevron-right
                .space30  





      -#.col-sm-3
        %h5 Categories
        %ul.aside-menu
          =nested_categories @category.subtree.arrange(:orders => :created_at)

