-#= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'

-#= stylesheet_link_tag 'http://themes-pixeden.com/font-demos/7-stroke/css/bootstrap.min.css'
= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'

-if admin?
  = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css'
  = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css'
  = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css'
  = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.css'
  = stylesheet_link_tag 'https://cdn.bootcss.com/pixeden-stroke-7-icon/1.2.3/dist/pe-icon-7-stroke.css'
  = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.min.css'
  = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.theme.default.min.css'

  = stylesheet_link_tag 'admin/application.css', :media => 'all' , :cache => true
-elsif shop?
  = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Dosis:300,400', :cache => true
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300', :cache => true
  = stylesheet_link_tag 'shop/application', :media => 'all' , :cache => true

-elsif panel?
  = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css'
  = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.16/css/perfect-scrollbar.min.css'
  = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto'
  = stylesheet_link_tag 'panel/application.css', :media => 'all' , :cache => true
-else

  = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.16/css/perfect-scrollbar.min.css'
  = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css'
  = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto'
  = stylesheet_link_tag 'panel/application.css', :media => 'all' ,:cache => true

= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'

-# TODO http://bootstraptour.com