= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'
-# https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.2/rails.min.js'

-if admin?
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.js'
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/peity/3.2.1/jquery.peity.min.js'
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js'
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js'
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/js/jquery.dataTables.min.js'
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js'
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js'
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js'
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/sizzle/2.3.3/sizzle.min.js'
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.min.js'
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js'
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js'
  = javascript_include_tag 'admin/application'

-elsif shop?
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/animo.js/1.0.3/animo.min.js'
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js'
  = javascript_include_tag 'shop/application'
-elsif panel?
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.16/js/perfect-scrollbar.jquery.min.js'
  = javascript_include_tag 'panel/application'

-else
  = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.16/js/perfect-scrollbar.jquery.min.js'
  = javascript_include_tag 'panel/application'

-#TODO http://bootstraptour.com