-languages

.container
  #content
    .our-history
      %h2.text-center.wow.fadeInDown Our History
      .space35  
      .history-slider
        .history-navigation
          %a.circle{"data-slide-index" => "0", :href => "blog_with_2sidebars_type_e.html"}
            %span.auto-center 2003
          %a.circle{"data-slide-index" => "1", :href => "blog_with_2sidebars_type_e.html"}
            %span.auto-center 2004
          %a.circle{"data-slide-index" => "2", :href => "blog_with_2sidebars_type_e.html"}
            %span.auto-center 2005
          %a.circle{"data-slide-index" => "3", :href => "blog_with_2sidebars_type_e.html"}
            %span.auto-center 2007
          %a.circle{"data-slide-index" => "4", :href => "blog_with_2sidebars_type_e.html"}
            %span.auto-center 2009
          %a.circle{"data-slide-index" => "5", :href => "blog_with_2sidebars_type_e.html"}
            %span.auto-center 2011
          %a.circle{"data-slide-index" => "6", :href => "blog_with_2sidebars_type_e.html"}
            %span.auto-center 2014
        .history-slides
          %div
            .row
              .col-sm-5
                %img{:alt => "", :src => "assets/dest/images/history.jpg"}/
              .col-sm-7
                %h5.other-title Birth.
                %p
                  Suite 127 / 267 – 277 Brussel St,
                  %br/
                  62 Croydon, NYC
                  %br/
                  New York
                .space20  
                %p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.
          %div
            .row
              .col-sm-5
                %img{:alt => "", :src => "assets/dest/images/history.jpg"}/
              .col-sm-7
                %h5.other-title Web Design
                %p
                  Suite 127 / 267 – 277 Brussel St,
                  %br/
                  62 Croydon, NYC
                  %br/
                  New York
                .space20  
                %p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.
          %div
            .row
              .col-sm-5
                %img{:alt => "", :src => "assets/dest/images/history.jpg"}/
              .col-sm-7
                %h5.other-title Web Development
                %p
                  Suite 127 / 267 – 277 Brussel St,
                  %br/
                  62 Croydon, NYC
                  %br/
                  New York
                .space20  
                %p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.
          %div
            .row
              .col-sm-5
                %img{:alt => "", :src => "assets/dest/images/history.jpg"}/
              .col-sm-7
                %h5.other-title Photoshop
                %p
                  Suite 127 / 267 – 277 Brussel St,
                  %br/
                  62 Croydon, NYC
                  %br/
                  New York
                .space20  
                %p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.
          %div
            .row
              .col-sm-5
                %img{:alt => "", :src => "assets/dest/images/history.jpg"}/
              .col-sm-7
                %h5.other-title Skill
                %p
                  Suite 127 / 267 – 277 Brussel St,
                  %br/
                  62 Croydon, NYC
                  %br/
                  New York
                .space20  
                %p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.
          %div
            .row
              .col-sm-5
                %img{:alt => "", :src => "assets/dest/images/history.jpg"}/
              .col-sm-7
                %h5.other-title Project.
                %p
                  Suite 127 / 267 – 277 Brussel St,
                  %br/
                  62 Croydon, NYC
                  %br/
                  New York
                .space20  
                %p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.
          %div
            .row
              .col-sm-5
                %img{:alt => "", :src => "assets/dest/images/history.jpg"}/
              .col-sm-7
                %h5.other-title Coffe
                %p
                  Suite 127 / 267 – 277 Brussel St,
                  %br/
                  62 Croydon, NYC
                  %br/
                  New York
                .space20  
                %p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem.
    .space50  
    %hr/
    .space50  
    %h2.text-center.wow.fadeInDown Our Passion for What We Do Transfers Into Our Services
    .space20  
    %p.text-center.wow.fadeInLeft
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      %br/
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    .space35  
    .row
      .col-sm-2.col-sm-push-2
        .beta-counter
          %p.beta-counter-icon
            %i.fa.fa-user
          %p.beta-counter-value.timer.numbers{"data-speed" => "2000", "data-to" => "19855"} 19855
          %p.beta-counter-title Clients Satisfied
      .col-sm-2.col-sm-push-2
        .beta-counter
          %p.beta-counter-icon
            %i.fa.fa-picture-o
          %p.beta-counter-value.timer.numbers{"data-speed" => "2000", "data-to" => "3568"} 3568
          %p.beta-counter-title Amazing Works
      .col-sm-2.col-sm-push-2
        .beta-counter
          %p.beta-counter-icon
            %i.fa.fa-clock-o
          %p.beta-counter-value.timer.numbers{"data-speed" => "2000", "data-to" => "258934"} 258934
          %p.beta-counter-title Support Hours
      .col-sm-2.col-sm-push-2
        .beta-counter
          %p.beta-counter-icon
            %i.fa.fa-pencil
          %p.beta-counter-value.timer.numbers{"data-speed" => "2000", "data-to" => "150"} 150
          %p.beta-counter-title New Projects
    / .beta-counter block end
    .space50  
    %hr/
    .space50  
    %h2.text-center.wow.fadeInDownwow.fadeInDown Our Amaizing Team
    .space20  
    %h5.text-center.other-title.wow.fadeInLeft Founders
    %p.text-center.wow.fadeInRight
      Nemo enims voluptatem quia volupas sit aspe aut odit aut fugit, sed quia
      = succeed "consequuntur" do
        %br/
    .space20  
    .row
      .col-sm-6.wow.fadeInLeft
        .beta-person.media
          %img.pull-left{:alt => "", :src => "assets/dest/images/person2.jpg"}/
          .media-body.beta-person-body
            %h5 Bob Robertson
            %p.font-large Founder
            %p Nemo enim ipsam voluptatem quia voluptas sit asatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque por quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.
            %a{:href => "single_type_gallery.html"}
              View projects
              %i.fa.fa-chevron-right
      .col-sm-6.wow.fadeInRight
        .beta-person.media
          %img.pull-left{:alt => "", :src => "assets/dest/images/person3.jpg"}/
          .media-body.beta-person-body
            %h5 Mike Greenwood
            %p.font-large Founder
            %p Nemo enim ipsam voluptatem quia voluptas sit asatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque por quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.
            %a{:href => "single_type_gallery.html"}
              View projects
              %i.fa.fa-chevron-right
    .space60  
    %h5.text-center.other-title.wow.fadeInDown The Best of Professionals
    %p.text-center.wow.fadeInUp
      Nemo enims voluptatem quia volupas sit aspe aut odit aut fugit, sed quia
      = succeed "consequuntur" do
        %br/
    .space20  
    .row
      .col-sm-3
        .beta-person.beta-person-full
          .bets-img-hover
            %img{:alt => "", :src => "assets/dest/images/person1.jpg"}/
          .beta-person-body
            %h5 Mark Priston
            %p.font-large Web developer
            %p Nemo enims voluptatem quia volupas sit aspe aut odit aut fugit, sed quia consequuntur magni dolores.
            %a{:href => "single_type_gallery.html"}
              View projects
              %i.fa.fa-chevron-right
      .col-sm-3
        .beta-person.beta-person-full
          .bets-img-hover
            %img{:alt => "", :src => "assets/dest/images/person2.jpg"}/
          .beta-person-body
            %h5 Bob Robertson
            %p.font-large Web developer
            %p Nemo enims voluptatem quia volupas sit aspe aut odit aut fugit, sed quia consequuntur magni dolores.
            %a{:href => "single_type_gallery.html"}
              View projects
              %i.fa.fa-chevron-right
      .col-sm-3
        .beta-person.beta-person-full
          .bets-img-hover
            %img{:alt => "", :src => "assets/dest/images/person3.jpg"}/
          .beta-person-body
            %h5 Mike Greenwood
            %p.font-large Web developer
            %p Nemo enims voluptatem quia volupas sit aspe aut odit aut fugit, sed quia consequuntur magni dolores.
            %a{:href => "single_type_gallery.html"}
              View projects
              %i.fa.fa-chevron-right
      .col-sm-3
        .beta-person.beta-person-full
          .bets-img-hover
            %img{:alt => "", :src => "assets/dest/images/person4.jpg"}/
          .beta-person-body
            %h5 David Black
            %p.font-large Web developer
            %p Nemo enims voluptatem quia volupas sit aspe aut odit aut fugit, sed quia consequuntur magni dolores.
            %a{:href => "single_type_gallery.html"}
              View projects
              %i.fa.fa-chevron-right
                / #content
              / .container

