=languages

.row
  .beta-map
    .abs-fullwidth.beta-map.wow.flipInX
      %iframe{:src => "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3678.0141923553406!2d89.551518!3d22.801938!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ff8ff8ef7ea2b7%3A0x1f1e9fc1cf4bd626!2sPranon+Pvt.+Limited!5e0!3m2!1sen!2s!4v1407828576904"}
  .container
    #content.space-top-none
      .space50  
      .row
        .col-sm-8
          %h2 Contact Form
          .space20  
          %p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit ani m id est laborum.
          .space20  
          %form.contact-form{:action => "#", :method => "post"}
            .form-block
              %input{:name => "your-name", :placeholder => "Your Name (required)", :type => "text"}/
            .form-block
              %input{:name => "your-email", :placeholder => "Your Email (required)", :type => "email"}/
            .form-block
              %input{:name => "your-subject", :placeholder => "Subject", :type => "text"}/
            .form-block
              %textarea{:name => "your-message", :placeholder => "Your Message"}
            .form-block
              %button.beta-btn.primary{:type => "submit"}
                Send Message
                %i.fa.fa-chevron-right
        .col-sm-4
          %h2 Contact Information
          .space20  
          %h6.contact-title Address
          %p
            Suite 127 / 267 – 277 Brussel St,
            %br/
            62 Croydon, NYC
            %br/
            Newyork
          .space20  
          %h6.contact-title Business Enquiries
          %p
            Doloremque laudantium, totam rem aperiam,
            %br/
            inventore veritatio beatae.
            %br/
            %a{:href => "mailto:biz@betadesign.com"} biz@betadesign.com
          .space20  
          %h6.contact-title Employment
          %p
            We’re always looking for talented persons to
            %br/
            join our team.
            %br/
            %a{:href => "hr@betadesign.com"} hr@betadesign.com
