-languages
.container
  #content
    %img.mb30{:alt => "", :src => "assets/dest/images/testimonials1.jpg"}/
    %h5.text-center.other-title
      “Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
      %br/
      quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
      %br/
      Neque porro quisquam est, qui dolorem ipsum...”
    .space30  
    .beta-testimonial-detail.text-center
      %p.beta-testimonial-title Mark Priston,
      %p.beta-testimonial-position Manager, NYC
    .space60  
    %hr/
    .space60  
    %h1 More Customer Stories
    .space10  
    .row
      .col-sm-4
        .beta-testimonial
          .beta-testimonial-body
            .beta-testimonial-triangle
            “Ut enim ad miiam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duise irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariatur...”
          .beta-testimonial-detail.ml85
            %p.beta-testimonial-title Denny Boy
            %p.beta-testimonial-position Sales Manager
      .col-sm-4
        .beta-testimonial
          .beta-testimonial-body
            .beta-testimonial-triangle
            “Ut enim ad miiam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duise irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariatur...”
          .beta-testimonial-detail.ml85
            %p.beta-testimonial-title Mark Black
            %p.beta-testimonial-position Sales Manager
      .col-sm-4
        .beta-testimonial
          .beta-testimonial-body
            .beta-testimonial-triangle
            “Ut enim ad miiam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duise irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariatur...”
          .beta-testimonial-detail.ml85
            %p.beta-testimonial-title Tony White
            %p.beta-testimonial-position Sales Manager
    .space30  
    .row
      .col-sm-6
        .beta-testimonial
          .beta-testimonial-body
            .beta-testimonial-triangle
            “Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore...”
          .beta-testimonial-detail.ml85
            %p.beta-testimonial-title Linda Brown
            %p.beta-testimonial-position Sales Manager
      .col-sm-6
        .beta-testimonial
          .beta-testimonial-body
            .beta-testimonial-triangle
            “Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum...”
          .beta-testimonial-detail.ml85
            %p.beta-testimonial-title Lisa Johnes
            %p.beta-testimonial-position Sales Manager
    .space30  
    .row
      .col-sm-5
        .beta-testimonial
          .beta-testimonial-body
            .beta-testimonial-triangle
            “Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...”
          .beta-testimonial-detail.ml85
            %p.beta-testimonial-title Veronica Joy
            %p.beta-testimonial-position Sales Manager
      .col-sm-4
        .beta-testimonial
          .beta-testimonial-body
            .beta-testimonial-triangle
            “Enim ipsam voluptatem quia voluptas fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem...”
          .beta-testimonial-detail.ml85
            %p.beta-testimonial-title Andrew Livingston
            %p.beta-testimonial-position Sales Manager
      .col-sm-3
        .beta-testimonial
          .beta-testimonial-body
            .beta-testimonial-triangle
            “Ipsam voluptatem quia voluptas aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem...”
          .beta-testimonial-detail.ml85
            %p.beta-testimonial-title Rick Greenwood
            %p.beta-testimonial-position Sales Manager
    .space30  
    .row
      .col-sm-3
        .beta-testimonial
          .beta-testimonial-body
            .beta-testimonial-triangle
            “Ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem...”
          .beta-testimonial-detail.ml85
            %p.beta-testimonial-title Amanda Red
            %p.beta-testimonial-position Sales Manager
      .col-sm-3
        .beta-testimonial
          .beta-testimonial-body
            .beta-testimonial-triangle
            “Ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem...”
          .beta-testimonial-detail.ml85
            %p.beta-testimonial-title Victor Green
            %p.beta-testimonial-position Sales Manager
      .col-sm-3
        .beta-testimonial
          .beta-testimonial-body
            .beta-testimonial-triangle
            “Ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem...”
          .beta-testimonial-detail.ml85
            %p.beta-testimonial-title Max Rich
            %p.beta-testimonial-position Sales Manager
      .col-sm-3
        .beta-testimonial
          .beta-testimonial-body
            .beta-testimonial-triangle
            “Ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem...”
          .beta-testimonial-detail.ml85
            %p.beta-testimonial-title Danny Boy
            %p.beta-testimonial-position Sales Manager
