-#TODO CHANGE PROFILE
- headercolor 'green'
-# breadcrumb @profile

- title t 'home.title'
- breadcrumb :catalogs
- header t 'home.title'
- languages


-content_for :up do
  .beta-callout-box.beta-callout-box-b
    .media
      .pull-left
        %i.fa.fa-shopping-cart
      .media-body
        %h4= t 'misc.welcome'
        %h5= t 'misc.welcome2'
        %p= t 'misc.welcome3'
        %p= t 'misc.welcome4'

.container
  #content.space-top-none
    .main-content

      .space40  
      .row
        .col-sm-12
          .beta-products-list
            %h4 New Products
          .beta-products-list
            -@products.in_groups_of(4, false).each do |group|
              .row
                -group.each do |product|
                  .col-sm-3
                    .single-item
                      .single-item-header
                        %a{:href => "#{shop_product_path(product)}"}
                          -if !product.factorypics.first.nil?
                            = image_tag(product.factorypics.first.thumb, height: '200')
                      .single-item-body
                        %p.single-item-title=product.name
                      .single-item-caption
                        %a.beta-btn.primary{:href => "#{shop_product_path(product)}"}
                          Details
                          %i.fa.fa-chevron-right
              .space30  

-content_for :down do
  .space40  
  .beta-callout-box.beta-callout-box-d{:style => "background:url(#{image_path('color0.png')}) repeat center top"}
    %h1= t 'misc.who_we_are'

    %p.text-center.white= t 'misc.who_we_are1'

    %p.text-center.white= t 'misc.who_we_are2'
    .space10  
    %a.beta-btn.primary{:href => "#"}
      Read More
      %i.fa.fa-chevron-right

