- model_class = Category
-#TODO change title,breadcrumb and header
- title t '.title', :default => model_class.model_name.human.pluralize.titleize
- breadcrumb :catalogs
- headercolor 'green'
- header t '.title', :default => model_class.model_name.human.pluralize.titleize
- languages
.row
  .col-sm-3
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark Category
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          %p.muted here is our main categories.

          - unless @category.children.empty?
            %ul.list-icons.mt-30
              -for cat in @category.children
                .li.mb-10
                  %i.fa.fa-certificate.txt-info.mr-5
                  =link_to cat.name, shop_category_path(cat)

  .col-sm-3
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark Highligted Categories
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          %p.muted here is our destacadas categories.


.row
  -@category.modells.each do |modell|
    .col-lg-3.col-md-6.col-sm-6.col-xs-12
      .panel.panel-default.card-view.pa-0
        .panel-wrapper.collapse.in
          .panel-body.pa-0
            %article.col-item
              .photo
                .options
                  %button.btn.btn-default.btn-icon-anim.btn-circle.mr-5{:type => "submit"}
                    %i.icon-pencil
                  %button.btn.btn-info.btn-icon-anim.btn-circle{:type => "submit"}
                    %i.icon-trash
                %a{:href => "#{shop_product_path(modell)}"}

                  %img.img-responsive{:alt => "Product Image", :src => "dist/img/chair.jpg"}/
              .info.text-center
                %h6= modell.name
                %span.product-spec.capitalize-font.block.mt-5.mb-5 dark grey / white
                %span.head-font.block.text-warning $150


