
%tr{:id => "modell_#{modell.id}"}
  %td= link_to modell.id, admin_modell_path(modell)
  %td= modell.name
  %td= modell.year
  %td= modell.factorypics
  %td= modell.enabled
  %td= modell.brand_id

  %td=t time_ago_in_words(modell.created_at)
  %td
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_modell_path(modell),remote: true, :class => 'btn btn-default btn-xs'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_modell_path(modell), :method => :delete, remote: true,:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

