- model_class = Modell

- title t '.title', :default => model_class.model_name.human.pluralize.titleize
- breadcrumb :models
- headercolor 'green'
- header t '.title', :default => model_class.model_name.human.pluralize.titleize
- languages_admin


.row
  .col-sm-12
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark=model_class.model_name.human.pluralize.titleize
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          .form-wrap
            .table-responsive
              %table.table.table-striped
                %thead
                  %tr
                    %th= model_class.human_attribute_name(:id)
                    %th= model_class.human_attribute_name(:name)
                    %th= model_class.human_attribute_name(:year)
                    %th= model_class.human_attribute_name(:factorypics)
                    %th= model_class.human_attribute_name(:enabled)
                    %th= model_class.human_attribute_name(:brand_id)
                    %th= model_class.human_attribute_name(:created_at)
                    %th=t '.actions', :default => t("helpers.actions")
                %tbody{id: 'modells'}
                  = render @modells

              = link_to t('.new', :default => t("helpers.links.new")),  new_admin_modell_path, remote: true, :class => 'btn btn-primary'

=render 'layouts/dialog'
