- model_class = Modell

- title t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- header t '.title', :default => [:'helpers.titles.show', 'Show %{model}'], :model => model_class.model_name.human.titleize
- headercolor 'green'
- breadcrumb @modell

.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @modell.name
%p
  %strong= model_class.human_attribute_name(:year) + ':'
  %br
  = @modell.year
%p
  %strong= model_class.human_attribute_name(:factorypics) + ':'
  %br
  = @modell.factorypics
%p
  %strong= model_class.human_attribute_name(:enabled) + ':'
  %br
  = @modell.enabled
%p
  %strong= model_class.human_attribute_name(:brand_id) + ':'
  %br
  = @modell.brand_id



= link_to t('.back', :default => t("helpers.links.back")), admin_modells_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_modell_path(@modell), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), admin_modell_path(@modell), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
