= will_paginate
%ul
  - @users.each do |user|
    %li
      %strong= user.name
      - unless current_user == user
        = link_to 'Send message', new_message_path(to: user.id), class: 'btn btn-default btn-sm'
= will_paginate
