.row
  = simple_form_for [:panel, @brand], :html => { :class => 'form-group' } do |f|
    .col-sm-12
      .row
        .col-sm-6
          = f.input :name
          = f.error_span :name
          = f.input :sdescription
          = f.error_span :sdescription
          = f.input :description
          = f.error_span :description
        .col-sm-6
          = f.input :logo
          = f.error_span :logo
          .form-group.string
            %label.control-label.string.optional{'for' => 'enable'}= Brand.human_attribute_name(:enable)
            = f.check_box :enable, id: 'enable'


    .col-sm-6
      = f.button :submit, :class => 'btn-primary'
    .col-sm-6
      = link_to t('.cancel', :default => t("helpers.links.cancel")), panel_brands_path, :class => 'btn btn-default'
