- model_class = Brand

- title 'Listing Brands'
- header t '.title', :default => model_class.model_name.human.pluralize.titleize
- headercolor 'yellow'
- breadcrumb :brands

.row
  .col-sm-12
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark optional
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          .form-wrap
            .table-responsive
              %table.table.table-striped
                %thead
                  %tr
                    %th= model_class.human_attribute_name(:id)
                    %th=t 'models.brand.field.name'
                    %th=t 'models.brand.fields.sdescription'
                    %th=t 'models.brand.fields.description'
                    %th=t 'models.brand.fields.logo'
                    %th=t 'models.brand.fields.metatitle'
                    %th=t 'models.brand.fields.enable'
                    %th= model_class.human_attribute_name(:created_at)
                    %th=t '.actions', :default => t("helpers.actions")
                %tbody
                  - @brands.each do |brand|
                    %tr
                      %td= link_to brand.id, panel_brand_path(brand)
                      %td= brand.name
                      %td= brand.sdescription
                      %td= brand.description
                      %td= image_tag(brand.logo_url,height:  '39') if brand.logo?
                      %td= brand.metatitle
                      %td= brand.enable
                      %td=time_ago_in_words l  brand.created_at
                      %td
                        = link_to t('.edit', :default => t("helpers.links.edit")), edit_panel_brand_path(brand), :class => 'btn btn-default btn-xs'
                        = link_to t('.destroy', :default => t("helpers.links.destroy")), panel_brand_path(brand), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_panel_brand_path, :class => 'btn btn-primary'

