- model_class = Brand

- title @brand.metatitle
- header t '.title', :default => model_class.model_name.human.titleize
- headercolor 'yellow'
- breadcrumb @brand

.row
  .col-sm-12
    .panel.panel-default.card-view
      .panel-heading
        .pull-left
          %h6.panel-title.txt-dark optional
        .clearfix
      .panel-wrapper.collapse.in
        .panel-body
          .form-wrap
            .form-group
              .control-label.mb-6
                %strong= model_class.human_attribute_name(:name) + ':'
              .control-label.mb-6
                = @brand.name
            .form-group
              .control-label.mb-6
                %strong= model_class.human_attribute_name(:sdescription) + ':'
              .control-label.mb-6
                = @brand.sdescription
            .form-group
              .control-label.mb-6
                %strong= model_class.human_attribute_name(:description) + ':'
              .control-label.mb-6
                = @brand.description
            .form-group
              .control-label.mb-6
                %strong= model_class.human_attribute_name(:logo) + ':'
              .control-label.mb-6
                = @brand.logo
            .form-group
              .control-label.mb-6
                %strong= model_class.human_attribute_name(:logo) + ':' if @brand.logo
              .control-label.mb-6
                - if @brand.logo?
                  = image_tag(@brand.logo_url ,height:  '39')
            .form-group
              .control-label.mb-6
                %strong= model_class.human_attribute_name(:metatitle) + ':'
              .control-label.mb-6
                = @brand.metatitle
            .form-group
              .control-label.mb-6
                %strong= model_class.human_attribute_name(:enable) + ':'
              .control-label.mb-6
                = @brand.enable


= link_to t('.back', :default => t("helpers.links.back")), panel_brands_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_panel_brand_path(@brand), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), panel_brand_path(@brand), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
