%body

  .wrapper
    = render 'admintheme/header'
    .page-wrapper
      .container-fluid
        = render 'admintheme/breadcrums'
        = bootstrap_flash
        = yield
      = render 'admintheme/footer'