%body

  .be-wrapper
    %nav.navbar.navbar-default.navbar-fixed-top.be-top-header
      =render 'paneltheme/topbar'
    .be-left-sidebar
      =render 'paneltheme/left'
    .be-content
      =render 'paneltheme/header'

      .main-content.container-fluid
        = bootstrap_flash
        = yield
    %nav.be-right-sidebar
      =render 'paneltheme/right'
  = render 'paneltheme/footer'

