%body
  = render 'shoptheme/header'
  = render 'shoptheme/breadcrums'
  = bootstrap_flash
  =content_for?(:up) ? yield(:up) : ""
  .container
    = yield
  =content_for?(:down) ? yield(:down) : ""
  = render 'shoptheme/footer'