!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : app.name
    = csrf_meta_tags
    = render 'misc/css'
    -if shop?
      =render 'layouts/shop'
    -elsif panel?
      =render 'layouts/panel'
    -elsif admin?
      =render 'layouts/admin'
    -else
      =render 'layouts/passwords'
    = render 'misc/js'